:root {
  --orange-color: #e64420;
  --new-color: green;
}


@media (max-width: 2000px) {
  
* {
  font-size: 24px;
}


  .left-side {
    border-bottom-left-radius: 25px;
  }
  .right-side {
    border-top-right-radius: 25px;
  }
  .education-container {
    display: flex;
  }
  .education-container-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 60px;
  }
  .ava {
    margin-right: 20px;
  }
  .works-item {
    margin: 10px;
  }

}

@media (max-width: 665px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .left-side {
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0px;
  }
  .right-side {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 25px;
  }
  .education-container {
    display: flex;
    flex-direction: column;
  }
  .education-container-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  .education-container-right::before {
    display: none;
  }
  .education-container-right::after {
    display: none;
  }
  .profile {
    flex-direction: column;
    align-items: center;
  }
  .left-side span {
    display: flex;
    justify-content: center;
  }
  .ava {
    margin-right: 0px;
  }


}

@media (max-width: 445px) {
  * {
    font-size: 24px;
  }

    .works-container {
      display: flex;
      align-items: center;
    }

  
  }
}

* {
  box-sizing: border-box;
  font-size: 23px;
}

body {
  background: #62626d;
  font-family: "Public Sans", sans-serif;
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  position: relative;
}
.left-side {
  padding: 20px;
  background: #21242d;
  border-top-left-radius: 25px;
}

.right-side {
  background: #2d3039;
  max-width: 500px;
  padding: 0px 20px 20px 20px;
  border-bottom-right-radius: 25px;
  position: relative;
}

.profile {
  display: flex;
}

.ava {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  border: 3px solid var(--orange-color);
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15); 
}




h1 {
  font-size: 1rem;
  color: #b8bdbe;
  margin: 0;
}

.left-side span {
  color: #646870;
  font-weight: bold;
  font-size: 0.8rem;
}

.left-side-title-block {
  display: flex;
  color: #b8bdbe;
  border-radius: 10px;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
}

.left-side-title-block::before {
  content: "";
  background: var(--orange-color);
  width: 3px;
  height: 20px;
  position: absolute;
  left: -20px;
}

ul {
  padding-inline-start: 0px;
}

.list li {
  list-style-type: none;
  font-size: 0.6rem;
  color: #545962;
  margin-top: 5px;
}

.list .paragraph {
  font-weight: 700;
  color: #646870;
  margin-top: 10px;
}

.progress,
.leadership,
.collaboration,
.communication,
.html,
.css {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #62626d;
  margin-top: 10px;
  margin-bottom: 5px;
  position: relative;
}



.collaboration::before,
.communication::before,
.html::before,
.css::before,
.leadership::before{
  content: "";
  position: absolute;
  height: 5px;
  border-radius: 5px;
  background: var(--orange-color);
  box-shadow: 0 0 10px rgb(230, 68, 32, 0.3);
  animation-name: stretchRight;
  -webkit-animation-name: stretchRight;   
  animation-duration: 1.5s;   
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-out;    
  -webkit-animation-timing-function: ease-out;    
  transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%; 
} 

@keyframes stretchRight {
  0% {
      transform: scaleX(0.1);} 
  100% {
      transform: scaleX(1);
  }                           
}


.leadership::before {
  width: 90%;
}



.collaboration::before {
  width: 70%;
}

.communication::before {
  width: 80%;
}

.html::before {
  width: 75%;
}

.css::before {
  width: 70%;
}

p {
  font-size: 0.6rem;
  color: #646870;
}

.name-course {
  font-weight: 700;
  color: #646870;
  font-size: 0.6rem;
  margin-bottom: 5px;
}
.univers-name,
.univers-date {
  font-size: 0.5rem;
  color: #545962;
  margin-bottom: 5px;
}

.education-container-right {
  color: #646870;
  font-size: 0.6rem;
  position: relative;
}

.education-container-right::before {
  content: "";
  width: 3px;
  height: 100%;
  background: var(--orange-color);
  position: absolute;
  left: -30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(230, 68, 32, 0.3);
}

.education-container-right::after {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background: var(--orange-color);
  position: absolute;
  left: -32px;
  top: 50%;
  box-shadow: 0 0 10px rgb(230, 68, 32, 0.3);
}




.footer {
  font-size: 0.5rem;
  position: absolute;
  bottom: -34px;
  right: 60px;
  font-size: 12px;
  color: rgb(204, 204, 204);
  background-color: var(--orange-color);
  padding: 5px 10px 5px 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 10px;
  }


*::selection {
  background: #dd9a8c;
  color: #fff;
}

.works-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px -20px 0px -20px;
}

.work-item-block{
  /* max-width: 180px; */
  /* background: #21242d; */
 width: 50%;
  color: #545962;
  font-size: 1rem;
  transition: ease 1s;
  cursor: pointer;
  /* border-radius: 5px; */
  /* padding: 5px; */
  /* margin: 20px 20px 20px 20px; */
}

@media (max-width: 450px) {


  


  .work-item-block{
    /* max-width: 180px; */
    /* background: #21242d; */
   width: 100%;
   margin-bottom: 10px;
  }

}



.work-item-block-title{
  text-align: center;
  color: #646870;
  font-size: .7rem;
  padding: 5px;
 font-weight: 600;
}

.work-item-block-text{
  padding: 10px;
  font-size: .6rem;
  text-align: center;
}

.work-item-block-text-icon{
  font-size: 1.5rem;
  color: #62626d;
  /* color: rgb(230, 68, 32, 0.7); */
  margin-bottom: 10px;
  transition: ease 1s;
}


.work-item-block:hover .work-item-block-text-icon{
  color: rgb(230, 68, 32, 0.7);
}

.work-item-block:hover{
  background: #191b22;
}

button {
  outline: none;
  background: #7ee28b;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 10px rgb(126, 226, 139, 0.3);
  font-size: 18px;
  margin: 0px 20px 0px 20px;
  margin: 10px;
}

button:hover {
  background: #8fff9e;
  box-shadow: 0 0 14px rgb(126, 226, 139, 0.3);
}

button:active {
  transform: translateY(0.1rem);
}

input {
  outline: none;
  background: none;
  border: none;
  color: #848492;
  border-bottom: solid 2px #62626d;
  padding: 5px;
  font-size: 18px;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: ease-in 0.5s;
}

input:focus {
  border-bottom: solid 2px #7ee28b;
  color: #9f9faf;
}