.ContainerInner {
  width: 100%;
}

.title {
  font-weight: 600;
  font-size: 32px;
  margin: 0 0 40px 0;
}

.blocks {
  display: flex;
  gap: 40px 40px;
  justify-content: space-between;
}

.block {
  max-width: 360px;
  padding: 40px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 28px rgba(208, 208, 208, 0.25);
  border-radius: 16px;
}

.percent {
  font-weight: 600;
  font-size: 48px;
  letter-spacing: 0.02em;
  margin: 0 0 24px 0;
  color: #c99047;
}

.description {
  font-size: 18px;
  line-height: 154.1%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000103;
}

@media (max-width: 1230px) {
  .section {
    margin: 0 30px;
  }
}

@media (max-width: 950px) {
  .blocks {
    flex-direction: column;
  }
  .block {
    max-width: 100%;

    text-align: center;
  }
}
