body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(19, 61, 52);
  font-weight: 500;
  margin: 5px 0;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 1000;
  cursor: pointer;
}

.modal {
  align-self: center;
  background-color: #eee;
  max-width: 600px;
  max-height: 500px;
  display: none;
  border-radius: 3px;
  justify-content: center;
  visibility: hidden;
  position: relative;
  margin: 20px;
  z-index: 1000;
  padding: 20px;
}

.modal.active {
  display: block;
  visibility: visible;
  opacity: 1;
  cursor: default;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal__close-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  opacity: 0.6;
  background: url(/img/close.svg);
  background-size: cover;
  width: 10px;
  height: 10px;
}

.modal__close-icon:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 10px 0;
  padding: 0 20px 0 0;
  font-size: 18px;
  font-weight: 500;
}

.modal__content {
  line-height: 120%;
}
