body {
	font-family: "Open Sans", sans-serif;
	background: #f7f9fc;
}

.container {
	max-width: 1167px;
	margin: auto;
}

.header {
	background: #ffffff;
	box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.06);
	padding: 20px 0 0 0;
	@media (max-width: 1200px) {
		padding: 20px 20px 0 20px;
	}
	@media (max-width: 575px) {
		padding: 20px;
	}
	&__left-side {
		position: relative;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		@media (max-width: 775px) {
			align-items: flex-start;
		}
	}
	&__logo {
		margin: 0 0 23px 0;
	}
	&__dropdown-right {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		@media (max-width: 775px) {
			opacity: 0;
			pointer-events: none;
			position: absolute;
			right: 0;
			top: 100px;
			min-width: 176px;
			padding: 24px;
			background: rgba(255, 255, 255, 0.9);
			box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
			border-radius: 8px;
			z-index: 10;
			transition: all 0.3s;
		}
	}
	&__button-add {
		display: flex;
		justify-content: center;
		align-items: center;
		align-self: flex-end;
		transform: translateY(calc(50% - 1px));
		width: 64px;
		height: 64px;
		background: linear-gradient(135deg, #ff974f 0%, #e32c75 100%);
		border-radius: 50%;
		@media (max-width: 775px) {
			transform: translate(calc(50% - 24px), calc(50% + 24px));
		}
		img {
			width: 20px;
			height: 20px;
		}
		&:hover {
			img {
				transition: all 0.3s;
				transform: rotate(180deg);
			}
		}
	}
	&__burger-wrapper {
		position: relative;
	}
	&__burger {
		display: none;
		position: relative;
		width: 18px;
		height: 18px;
		cursor: pointer;
		overflow: hidden;
		@media (max-width: 775px) {
			display: block;
		}
		&-line {
			position: absolute;
			right: 0;
			display: block;
			width: 100%;
			height: 2px;
			background: #3e3f58;
			border-radius: 100px;
			overflow: hidden;
			transition: all 0.3s ease;
			&:nth-child(1) {
				top: 1px;
			}
			&:nth-child(2) {
				width: 80%;
				top: 50%;
				transform: translateY(-50%);
			}
			&:nth-child(3) {
				bottom: 0;
			}
		}
	}
}

.header__burger {
	&.header__burger--open {
		.header__burger-line:nth-child(1) {
			transform: rotate(40deg);
			top: 10px;
		}
		.header__burger-line:nth-child(2) {
			transform: translateX(110%);
		}
		.header__burger-line:nth-child(3) {
			transform: rotate(-40deg);
			bottom: 6px;
		}
	}
}

.header__dropdown-right {
	&.header__dropdown-right--open {
		opacity: 1;
		pointer-events: all;
	}
}

.open-header-menu {
	display: none;
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	color: #3e4056;
	cursor: pointer;
	@media (max-width: 575px) {
		display: flex;
		align-items: center;
	}
	&__dropdown-icon {
		margin: 0 0 0 5px;
		transition: all 0.3s;
		&--open {
			transform: rotate(180deg);
		}
	}
}

.header-menu {
	display: flex;
	@media (max-width: 575px) {
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 100px;
		flex-direction: column;
		padding: 24px;
		background: rgba(255, 255, 255, 0.9);
		box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
		border-radius: 8px;
		z-index: 10;
		transition: all 0.3s;
	}
	&--open {
		opacity: 1;
		pointer-events: all;
	}
	&__item {
		&:not(:last-child) {
			margin: 0 36px 0 0;
			@media (max-width: 575px) {
				margin: 0 0 18px 0;
			}
		}
		&--active {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				bottom: -25px;
				width: 100%;
				height: 4px;
				background: linear-gradient(135deg, #ff974f 0%, #e32c75 100%);
				@media (max-width: 575px) {
					width: 30%;
					bottom: -5px;
				}
			}
		}
	}

	&__link {
		font-weight: 600;
		font-size: 14px;
		line-height: 19px;
		text-transform: uppercase;
		color: #3e4056;
		opacity: 0.6;
		transition: all 0.3s;
		&:hover {
			transition: all 0.3s;
			opacity: 1;
		}
	}
}

.header-menu__item--active {
	.header-menu__link {
		opacity: 1;
	}
}

.header-user-block {
	display: flex;
	align-items: center;
	@media (max-width: 775px) {
		flex-direction: column;
		align-items: flex-end;
	}
	&__name {
		font-size: 16px;
		line-height: 20px;
		letter-spacing: -0.5px;
		color: #3e3f58;
	}
	&__avatar {
		width: 32px;
		height: 32px;
		margin: 0 12px 0 20px;
		object-fit: cover;
		border-radius: 30px;
	}
	&__row {
		display: flex;
		align-items: center;
	}

	&__icon-links {
		display: flex;
		margin: 0 0 0 30px;
		@media (max-width: 775px) {
			margin: 15px 0 0 0;
		}
		&-item {
			&:not(:last-child) {
				margin: 0 17px 0 0;
			}
		}
	}
}

.content {
	padding: 80px 0 0 0;
	&__container {
		@media (max-width: 1200px) {
			padding: 20px;
		}
		@media (max-width: 1200px) {
			flex-direction: column;
		}
	}
}

.content-user-block {
	max-width: 350px;
	margin: 0 47px 0 0;
	@media (max-width: 1200px) {
		margin: 0 0 47px 0;
		max-width: 100%;
		width: 100%;
	}
	@media (max-width: 475px) {
		flex-wrap: wrap;
	}
	&__header {
		display: flex;
		margin: 0 0 32px 0;
		@media (max-width: 775px) {
			justify-content: space-between;
		}
		@media (max-width: 475px) {
			flex-wrap: wrap;
		}
	}
	&__user {
		@media (max-width: 775px) {
			flex-grow: 1;
		}
		@media (max-width: 475px) {
			order: 2;
		}
	}
	&__avatar {
		margin: 0 24px 0 0;
		@media (max-width: 475px) {
			margin: 0 0 24px 0;
		}
		img {
			width: 120px;
			height: 120px;
			border-radius: 50%;
		}
	}
	&__user-name {
		max-width: 120px;
		margin: 0 0 8px 0;
		font-family: Montserrat;
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 26px;
		color: #3e3f58;
		@media (max-width: 1200px) {
			max-width: 100%;
		}
	}
	&__user-nick {
		margin: 0 0 16px 0;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: -0.5px;
		color: #3e3f58;
	}
	&__edit-title {
		font-size: 16px;
		line-height: 20px;
		text-decoration-line: underline;
		color: #f05d63;
	}
	&__edit {
		display: flex;
		align-items: center;
		img {
			margin: 0 8px 0 0;
		}
	}
	&__description {
		max-width: 350px;
		color: #3e3f58;
		font-size: 16px;
		line-height: 24px;
		@media (max-width: 1200px) {
			max-width: 100%;
		}
	}
}

.user-setting-dropdown {
	position: relative;
	margin: 0 0 0 25px;

	&__menu {
		position: absolute;
		top: 40px;
		left: -10px;
		min-width: 176px;
		padding: 24px 0;
		background: rgba(255, 255, 255, 0.9);
		box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
		border-radius: 8px;
		opacity: 0;
		pointer-events: none;
		transform: scale(0);
		transform-origin: -10% 20%;
		animation: DropDownDisappear 0.4s ease forwards;
		@media (max-width: 775px) {
			left: unset;
			right: -10px;
			transform-origin: 100% 0%;
		}
		&--open {
			opacity: 1;
			pointer-events: all;
			animation: DropDownAppear 0.4s ease forwards;
		}
	}
	&__menu-link {
		display: flex;
		align-items: center;
		padding: 8px 24px;
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		color: #3e4056;
		transition: all 0.3s;
		img {
			width: 19px;
			margin: 0 16px 0 0;
		}
		&:hover {
			transition: all 0.3s;
			background: #ecf1f86e;
		}
	}
}

@keyframes DropDownAppear {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes DropDownDisappear {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0.5);
	}
}

.user-stats {
	display: flex;
	margin: 0 0 23px 0;
	&__item {
		&:not(:last-child) {
			margin: 0 48px 0 0;
		}
	}
	&__item-count {
		font-weight: 700;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		color: #3e3f58;
	}
	&__item-title {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: #636363;
	}
}

.toggle-checkbox {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	&--double {
		margin: 0 30px;
	}
	&__input {
		display: none;
	}
	&__body {
		display: block;
		position: relative;
		width: 40px;
		height: 24px;
		border-radius: 41px;
		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			width: 38px;
			height: 22px;
			background: #ed5267;
			border: 1px solid #ed5267;
			border-radius: 41px;
			transition: all 0.3s;
		}
	}
	&__circle {
		position: absolute;
		top: 50%;
		z-index: 2;
		display: block;
		width: 18px;
		height: 18px;
		background: #ffffff;
		transform: translate(4px, -9px);
		border-radius: 50%;
		transition: all 0.3s;
	}
	input:checked ~ .toggle-checkbox__body .toggle-checkbox__circle {
		transform: translate(19px, -9px);
	}
	input:checked ~ .toggle-checkbox__body:after {
		background: #ed5267;
		border: 1px solid #ed5267;
	}
}

.content {
	&__container {
		display: flex;
	}
}

.checkbox-wrapper {
	display: flex;
	margin: 0 0 64px 0;
	&__title {
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		color: #3e4056;
		cursor: pointer;
	}
}

.user-posts {
	display: flex;
	flex-wrap: wrap;
	margin: -12px;
	@media (max-width: 775px) {
		flex-wrap: nowrap;
		margin: -12px 0;
		flex-direction: column;
	}
}

.post-item {
	@media (max-width: 775px) {
		max-width: 100%;
		margin: 12px 0;
	}
	max-width: 374px;
	margin: 12px;
	padding: 24px;
	background: #ffffff;
	border-radius: 8px;
	box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
	&--type1 {
		padding: 56px 24px 24px 24px;
	}
	&__title {
		@media (max-width: 775px) {
			max-width: 100%;
		}
		@media (max-width: 575px) {
			font-size: 30px;
			line-height: 39px;
		}
		max-width: 326px;
		margin: 0 0 44px 0;
		font-family: Montserrat;
		font-style: normal;
		font-weight: normal;
		font-size: 36px;
		line-height: 44px;
		color: #3e4056;
	}
	&__info {
		display: flex;
		justify-content: space-between;
		&--with-likes {
			@media (max-width: 575px) {
				flex-direction: column;
			}
			.post-item__stats {
				@media (max-width: 575px) {
					margin: 15px 0 0 0;
				}
			}
		}
	}
	&__profile {
		display: flex;
		align-items: center;
	}
	&__profile-avatar {
		width: 24px;
		height: 24px;
		margin: 0 8px 0 0;
		background: #b2b3bb;
		border-radius: 50%;
	}
	&__share {
		font-size: 18px;
		line-height: 25px;
		color: #f05d63;
	}
	&__shared-to-tag {
		display: flex;
		margin: 0 0 10px 0;
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		color: #3e4056;
		@media (max-width: 475px) {
			flex-direction: column;
		}
	}
	&__shared-tag {
		margin: 0 0 0 4px;
		padding: 3px 4px;
		font-weight: 600;
		font-size: 16px;
		line-height: 16px;
		color: #3e4056;
		background: #ecf1f8;
		border-radius: 6px;
		@media (max-width: 475px) {
			margin: 4px 0 0 0;
			width: calc(100% - 10px);
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	&__stats {
		display: flex;
	}
	&__stats-item {
		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin: 0 16px 0 0;
		}
	}
	&__stats-icon {
		margin: 0 8px 0 0;
	}
	&__shared-link {
		display: inline-flex;
		align-items: center;
		margin: 0 0 10px 0;
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		color: #3e4056;
		&-icon {
			margin: 0 3px 0 0;
		}
	}
}
