body {
  padding-top: 150px;
}

.container {
  max-width: 750px;
  margin: auto;
}

.line-1,
.line-2 {
  display: flex;
}

.block-2 {
  width: 100%;
  height: 150px;
  background-color: rgb(129, 94, 47);
}

.block-1,
.block-3 {
  width: 150px;
  height: 150px;
  background-color: antiquewhite;
}

.left-side {
  width: 50%;
  height: 200px;
}

.left-side-bottom {
  width: 100%;
  height: 100px;
  background-color: yellow;
  position: relative;
}

.right-side {
  width: 50%;
  background-color: violet;
  height: 200px;
}
.left-side-top {
  display: flex;
}

.left-side-top-1 {
  width: 60%;
  height: 100px;
  background-color: teal;
}

.left-side-top-2 {
  width: 40%;
  height: 100px;
  background-color: tomato;
}

@media (max-width: 768px) {
  .line-1 {
    flex-direction: column;
  }
  .line-2 {
    flex-direction: column;
  }
  .left-side-top {
    display: flex;
    flex-direction: column;
  }

  .left-side-top-1,
  .left-side-top-2 {
    width: 100%;
  }
  .block-1,
  .block-3 {
    width: 100%;
  }
  .left-side,
  .right-side {
    width: 100%;
  }
}
