@media (max-width: 2000px) {
  
* {
  font-size: 24px;
}


  .left-side {
    border-bottom-left-radius: 25px;
  }
  .right-side {
    border-top-right-radius: 25px;
  }
  .education-container {
    display: flex;
  }
  .education-container-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 60px;
  }
  .ava {
    margin-right: 20px;
  }
  .works-item {
    margin: 10px;
  }

}

@media (max-width: 665px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .left-side {
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0px;
  }
  .right-side {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 25px;
  }
  .education-container {
    display: flex;
    flex-direction: column;
  }
  .education-container-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  .education-container-right::before {
    display: none;
  }
  .education-container-right::after {
    display: none;
  }
  .profile {
    flex-direction: column;
    align-items: center;
  }
  .left-side span {
    display: flex;
    justify-content: center;
  }
  .ava {
    margin-right: 0px;
  }


}

@media (max-width: 445px) {
  * {
    font-size: 24px;
  }

    .works-container {
      display: flex;
      align-items: center;
    }

  
  }
}

* {
  box-sizing: border-box;
  font-size: 23px;
}

body {
  background: #828282;
  font-family: "Public Sans", sans-serif;
  padding: 20px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  position: relative;
}
.left-side {
  padding: 20px;
  background: #bababa;
  border-top-left-radius: 25px;
}

.right-side {
  background: #ededed;
  max-width: 500px;
  padding: 0px 20px 20px 20px;
  border-bottom-right-radius: 25px;
}

.profile {
  display: flex;
}

.ava {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  border: 3px solid #738dbf;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15); 
}




h1 {
  font-size: 1rem;
  color: #474a4f;
  margin: 0;
}

.left-side span {
  color: #646870;
  font-weight: bold;
  font-size: 0.8rem;
}

.left-side-title-block {
  display: flex;
  color: #474a4f;
  border-radius: 10px;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
}

.left-side-title-block::before {
  content: "";
  background: #738dbf;
  width: 3px;
  height: 20px;
  position: absolute;
  left: -20px;
}

ul {
  padding-inline-start: 0px;
}

.list li {
  list-style-type: none;
  font-size: 0.6rem;
  color: #545962;
  margin-top: 5px;
}

.list .paragraph {
  font-weight: 700;
  color: #646870;
  margin-top: 10px;
}

.progress,
.leadership,
.collaboration,
.communication,
.html,
.css {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #62626d;
  margin-top: 10px;
  margin-bottom: 5px;
  position: relative;
}

.leadership::before {
  content: "";
  position: absolute;
  background: #738dbf;
  width: 90%;
  height: 5px;
  border-radius: 5px;
}

.collaboration::before {
  content: "";
  position: absolute;
  background: #738dbf;
  width: 70%;
  height: 5px;
  border-radius: 5px;
}

.communication::before {
  content: "";
  position: absolute;
  background: #738dbf;
  width: 80%;
  height: 5px;
  border-radius: 5px;
}

.html::before {
  content: "";
  position: absolute;
  background: #738dbf;
  width: 75%;
  height: 5px;
  border-radius: 5px;
}

.css::before {
  content: "";
  position: absolute;
  background: #738dbf;
  width: 70%;
  height: 5px;
  border-radius: 5px;
}

p {
  font-size: 0.6rem;
  color: #646870;
}

.name-course {
  font-weight: 700;
  color: #646870;
  font-size: 0.6rem;
  margin-bottom: 5px;
}
.univers-name,
.univers-date {
  font-size: 0.5rem;
  color: #545962;
  margin-bottom: 5px;
}

.education-container-right {
  color: #646870;
  font-size: 0.6rem;
  position: relative;
}

.education-container-right::before {
  content: "";
  width: 3px;
  height: 100%;
  background: #738dbf;
  position: absolute;
  left: -30px;
  border-radius: 5px;
}

.education-container-right::after {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background: #738dbf;
  position: absolute;
  left: -32px;
  top: 50%;
}

.works-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.works-item-img {
  width: 105px;
  height: 105px;
  border-radius: 105px;
  cursor: pointer;
  object-fit: cover;
}


.footer {
  margin-top: 5px;
  font-size: 0.5rem;
}

*::selection {
  background: #bababa;
  color: #fff;
}


.btn-switch{
  text-decoration: none;
  background: #ededed;
  color: #646870;
  padding: 1px 5px 5px 5px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  /* border-bottom: 2px solid #738dbf; */
  margin-right: 10px;
  font-size: 11px;
  transition: .5s;
}

.btn-switch:hover{
 background: #738dbf;
 color: #ededed;
}

.switchers{
  display: flex;
  position: absolute;
  top: -29px;
  right: -10px;
  }
  