@media (max-width: 2000px) {
  
* {
  font-size: 24px;
}


  .left-side {
    border-bottom-left-radius: 25px;
  }
  .right-side {
    border-top-right-radius: 25px;
  }
  .education-container {
    display: flex;
  }
  .education-container-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 60px;
  }
  .ava {
    margin-right: 20px;
  }
  .works-item {
    margin: 10px;
  }

}

@media (max-width: 665px) {
  .main {
    display: flex;
    flex-direction: column;
  }
  .left-side {
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0px;
  }
  .right-side {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 25px;
  }
  .education-container {
    display: flex;
    flex-direction: column;
  }
  .education-container-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  .education-container-right::before {
    display: none;
  }
  .education-container-right::after {
    display: none;
  }
  .profile {
    flex-direction: column;
    align-items: center;
  }
  .left-side span {
    display: flex;
    justify-content: center;
  }
  .ava {
    margin-right: 0px;
  }


}

@media (max-width: 445px) {
  * {
    font-size: 24px;
  }

    .works-container {
      display: flex;
      align-items: center;
    }

  
  }
}

* {
  box-sizing: border-box;
  font-size: 23px;
}

body {
  background: #62626d;
  font-family: "Public Sans", sans-serif;
  padding: 20px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  position: relative;
}
.left-side {
  padding: 20px;
  background: #21242d;
  border-top-left-radius: 25px;
}

.right-side {
  background: #2d3039;
  max-width: 500px;
  padding: 0px 20px 20px 20px;
  border-bottom-right-radius: 25px;
}

.profile {
  display: flex;
}

.ava {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  border: 3px solid #e64420;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15); 
}




h1 {
  font-size: 1rem;
  color: #b8bdbe;
  margin: 0;
}

.left-side span {
  color: #646870;
  font-weight: bold;
  font-size: 0.8rem;
}

.left-side-title-block {
  display: flex;
  color: #b8bdbe;
  border-radius: 10px;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 20px;
  position: relative;
}

.left-side-title-block::before {
  content: "";
  background: #e64420;
  width: 3px;
  height: 20px;
  position: absolute;
  left: -20px;
}

ul {
  padding-inline-start: 0px;
}

.list li {
  list-style-type: none;
  font-size: 0.6rem;
  color: #545962;
  margin-top: 5px;
}

.list .paragraph {
  font-weight: 700;
  color: #646870;
  margin-top: 10px;
}

.progress,
.leadership,
.collaboration,
.communication,
.html,
.css {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #62626d;
  margin-top: 10px;
  margin-bottom: 5px;
  position: relative;
}

.leadership::before {
  content: "";
  position: absolute;
  background: #e64420;
  width: 90%;
  height: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(230, 68, 32, 0.3);
  animation-name: stretchRight;
    -webkit-animation-name: stretchRight;   
 
    animation-duration: 1.5s;   
    -webkit-animation-duration: 1.5s;
 
    animation-timing-function: ease-out;    
    -webkit-animation-timing-function: ease-out;    
 
    transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;    
}

@keyframes stretchRight {
  0% {
      transform: scaleX(0.1);} 
  100% {
      transform: scaleX(1);
  }                           
}





.collaboration::before {
  content: "";
  position: absolute;
  background: #e64420;
  width: 70%;
  height: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(230, 68, 32, 0.3);
  animation-name: stretchRight;
  -webkit-animation-name: stretchRight;   

  animation-duration: 1.5s;   
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease-out;    
  -webkit-animation-timing-function: ease-out;    

  transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%; 
}

.communication::before {
  content: "";
  position: absolute;
  background: #e64420;
  width: 80%;
  height: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(230, 68, 32, 0.3);
  animation-name: stretchRight;
  -webkit-animation-name: stretchRight;   

  animation-duration: 1.5s;   
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease-out;    
  -webkit-animation-timing-function: ease-out;    

  transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%; 
}

.html::before {
  content: "";
  position: absolute;
  background: #e64420;
  width: 75%;
  height: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(230, 68, 32, 0.3);
  animation-name: stretchRight;
  -webkit-animation-name: stretchRight;   

  animation-duration: 1.5s;   
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease-out;    
  -webkit-animation-timing-function: ease-out;    

  transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%; 
}

.css::before {
  content: "";
  position: absolute;
  background: #e64420;
  width: 70%;
  height: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(230, 68, 32, 0.3);
  animation-name: stretchRight;
  -webkit-animation-name: stretchRight;   

  animation-duration: 1.5s;   
  -webkit-animation-duration: 1.5s;

  animation-timing-function: ease-out;    
  -webkit-animation-timing-function: ease-out;    

  transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%; 
}

p {
  font-size: 0.6rem;
  color: #646870;
}

.name-course {
  font-weight: 700;
  color: #646870;
  font-size: 0.6rem;
  margin-bottom: 5px;
}
.univers-name,
.univers-date {
  font-size: 0.5rem;
  color: #545962;
  margin-bottom: 5px;
}

.education-container-right {
  color: #646870;
  font-size: 0.6rem;
  border-shadow: solid 3px;
  position: relative;
}

.education-container-right::before {
  content: "";
  width: 3px;
  height: 100%;
  background: #e64420;
  position: absolute;
  left: -30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(230, 68, 32, 0.3);
}

.education-container-right::after {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 7px;
  background: #e64420;
  position: absolute;
  left: -32px;
  top: 50%;
  box-shadow: 0 0 10px rgb(230, 68, 32, 0.3);
}

.works-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.footer {
  margin-top: 5px;
  font-size: 0.5rem;
}

*::selection {
  background: #dd9a8c;
  color: #fff;
}


.work-item-block{
  max-width: 180px;
  background: #21242d;
  color: #545962;
  font-size: 1rem;
  transition: ease 1s;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  margin: 20px 20px 20px 20px;
}



.work-item-block-title{
  text-align: center;
  color: #646870;
  font-size: .7rem;
  padding: 5px;
 font-weight: 600;
}

.work-item-block-text{
  padding: 10px;
  font-size: .6rem;
  text-align: center;
}

.work-item-block-text-icon{
  font-size: 1.5rem;
  color: #62626d;
  /* color: rgb(230, 68, 32, 0.7); */
  margin-bottom: 10px;
  transition: ease 1s;
}


.work-item-block:hover .work-item-block-text-icon{
  color: rgb(230, 68, 32, 0.7);
}

.work-item-block:hover{
  background: #191b22;
}