* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #383334;
}

.header {
  background-image: url(../img/section1-bg.jpg);
  background-size: cover;
}

.header__container {
  max-width: 1330px;
  margin: auto;
  padding: 20px;
}

.section1__header {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 0 0 280px;
}

.logo__icon {
  position: relative;
}

.logo__icon::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: -35px;
  width: 32px;
  height: 30px;
  background-image: url(../img/logo-after.svg);
  background-size: cover;
}

.logo__title {
  margin: 0 0 0 50px;
  font-size: 22px;
  font-weight: 700;
  color: #383334;
}

.bulids__container {
  display: flex;
}

.bulid__item {
  display: flex;
  align-items: center;
  max-width: 250px;
}

.bulid__item:nth-child(2) {
  max-width: 200px;
}

.bulid__item-icon {
  margin: 20px;
}

.bulid__item-title {
  font-style: italic;
  color: #666666;
}

.header__main-display {
  margin: 60px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.main-display__left-side {
  width: 630px;
  height: 650px;
  background-image: url(../img/bg-for-mikocin.svg);
  position: relative;
}

.mikocun__container {
  position: absolute;
  bottom: -55px;
}

.mikocun1 {
  position: relative;
}

.mikocun1 img {
  position: absolute;
  bottom: -200px;
  z-index: 100;
}

.mikocun1__title {
  position: absolute;
  right: 100px;
  top: -140px;
  background-color: #ff6b00;
  color: #fff;
  padding: 5px;
  font-size: 30px;
  font-weight: 700;
  border-radius: 7px;
  z-index: 100;
}

.mikocun2 {
  position: relative;
  bottom: 0px;
  z-index: 100;
}

.mikocun2 img {
  position: relative;
  bottom: -25px;
  left: 160px;
}

.mikocun2__title {
  position: absolute;
  right: -10px;
  top: 30px;
  background-color: #a8ca3f;
  color: #fff;
  padding: 5px;
  font-size: 30px;
  font-weight: 700;
  border-radius: 7px;
}

.main-display__title {
  font-size: 40px;
  font-weight: 900;
  max-width: 270px;
  line-height: 40px;
}

.main-display__subtitile {
  font-size: 30px;
  font-weight: 800;
  margin: 0 0 40px 0;
}

.complex__item {
  display: flex;
  align-items: center;
  margin: 0 0 45px 0;
}

.complex__item:last-child {
  margin: 0;
}

.complex__item-icon {
  margin: 0 20px 0 0;
  background-color: #a8ca3f;
  border: solid 6px #e8edc9;
  border-radius: 100%;
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 19px;
}

.complex__item-description {
  font-size: 17px;
  max-width: 270px;
  line-height: 21px;
}

.complex__item-description b {
  font-weight: 600;
}

.underline-big-1 {
  position: relative;
}

.underline-big-1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #ff6b00;
}

.underline-big-2 {
  position: relative;
}

.underline-big-2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #a8ca3f;
}

.underline-little-1 {
  position: relative;
}

.underline-little-2 {
  position: relative;
}

.underline-little-1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -1px;
  left: 0;
  background-color: #ff6b00;
}

.underline-little-2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -1px;
  left: 0;
  background-color: #a8ca3f;
}

.complex__item-icon-with-lines {
  position: relative;
}

.complex__item-icon-with-lines::before {
  content: "";
  position: absolute;
  top: -49px;
  width: 10px;
  height: 36px;
  background-image: url(../img/lines.svg);
  background-size: cover;
}

.complex__item-icon-with-lines::after {
  content: "";
  position: absolute;
  bottom: -53px;
  width: 10px;
  height: 40px;
  background-image: url(./img/lines.svg);
  background-position: 100% 99%;
  background-size: cover;
}

.header__right-side {
  display: flex;
}

.kupon {
  width: 270px;
  background-color: #fff;
  border: solid 6px #a8ca3f;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 540px;
  position: relative;
  margin: 0 0 0 20px;
}

.kupon__title {
  top: -6px;
  position: absolute;
  width: 135px;
  background-color: #f3f9ff;
  align-self: center;
  height: 35px;
  display: flex;
  align-items: center;
  padding: 0 5px 0 5px;
  border-bottom: solid 6px #a8ca3f;
  border-right: solid 6px #a8ca3f;
  border-left: solid 6px #a8ca3f;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.kupon__title img {
  margin: 0 5px 0 0;
}

.kupon__description {
  font-size: 20px;
  font-weight: 500;
  margin: 50px 0 0 0;
  text-align: center;
  max-width: 180px;
  align-self: center;
}

.kupon__description span {
  color: #ff6b00;
}

.kupon__prices {
  margin: 20px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
}

.kupon__old-title {
  color: #666666;
  margin: 0 0 5px 0;
}

.kupon__new-title {
  font-weight: 500;
  margin: 0 0 5px 0;
  text-align: center;
}

.kupon__old-price {
  position: relative;
  font-size: 34px;
  color: #666666;
  font-weight: 100;
  padding: 5px;
}

.kupon__old-price::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 20px;
  background-color: #ff6b00;
  transform: rotate(15deg);
}

.kupon__old-price::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 20px;
  left: 0;
  background-color: #ff6b00;
  transform: rotate(-15deg);
}

.kupon__new-price {
  background-color: #ffcb02;
  font-size: 34px;
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
  color: #000;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contac__value {
  background-color: #eef2f7;
  max-width: 215px;
  margin: 0 0 10px 0;
  height: 60px;
  border-radius: 50px;
  display: flex;
  position: relative;
}

.contac__value-input {
  border: none;
  background: none;
  height: 60px;
  padding: 0 20px 0 20px;
  width: 100%;
}

.contac__value-img {
  margin: 0 0 0 20px;
}

.kupon__button {
  border: none;
  align-self: center;
  background-color: #ffcb02;
  width: 215px;
  border-radius: 50px;
  height: 60px;
  padding: 5px;
}

.kupon__button-bg {
  border-radius: 50px;
  border: solid 1px rgba(255, 255, 255, 0.658);
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 800;
  color: #000;
  line-height: 20px;
}

.kupon__button-bg span {
  font-size: 16px;
}

.kupon__deadline {
  align-self: center;
  margin: 20px 0 20px 0;
  text-align: center;
}

.kupon__deadline span {
  color: #a8ca3f;
  font-weight: 500;
}

.kupon__guard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #eef2f7;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  font-size: 14px;
}

.kupon__guard__icon {
  margin: 0 10px 0 0;
}

.header__main-display {
  position: relative;
}

.header__main-display-foots {
  position: absolute;
  top: -161px;
  left: -150px;
  z-index: 10;
}

.mikocun1-herb {
  position: absolute;
  left: 250px;
  top: -100px;
}

.section1__container {
  max-width: 1330px;
  margin: auto;
  padding: 80px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.section1__logo {
  margin: auto;
}

.section1__title {
  margin: 40px 0 40px 0;
  font-size: 48px;
  font-weight: 800;
  text-align: center;
}

.section1__subtitle {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  margin: 0 0 40px 0;
}

.bluesen {
  display: flex;
  justify-content: space-between;
}

.bluesen__item-top {
  display: flex;
  align-items: center;
  margin: 0 0 40px 0;
}

.bluesen__item-img {
  margin: 0 20px 0 0;
}

.bluesen__item-title {
  font-size: 22px;
  font-weight: 600;
  max-width: 150px;
  line-height: 25px;
}

.bluesen__item-description {
  font-size: 18px;
  max-width: 320px;
  line-height: 25px;
}

.bluesen__item-bottom {
  position: relative;
}

.bluesen__item-bottom::before {
  position: absolute;
  content: "";
  background-color: #becbd8;
  width: 60px;
  height: 3px;
  top: -20px;
}

.statistic {
  margin: 60px 0 40px 0;
  border: solid 3px #f4d3bb;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
}

.statistic__top {
  position: absolute;
  top: -15px;
  background-color: #fff;
  width: 170px;
}

.statistic__description {
  font-size: 22px;
  line-height: 30px;
}

.statistic__description b {
  font-weight: 500;
}

@media (max-width: 1300px) {
  .header__main-display {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin: 0;
  }

  .header__main-display-foots {
    display: none;
  }

  .header__right-side {
    margin: 150px 0 0 0;
  }
  .bluesen {
    flex-wrap: wrap;
    justify-content: center;
  }

  .bluesen__item {
    margin: 0 0 40px 0;
  }
}

@media (max-width: 950px) {
  .section1__header {
    flex-direction: column;
  }
  .bulids__container {
    display: flex;
    margin-left: auto;
  }
}

@media (max-width: 850px) {
  .main-display__left-side {
    width: 100%;
    height: 390px;
    background: none;
    position: relative;
    background-repeat: no-repeat;
    /* margin: auto; */
  }
}

@media (max-width: 750px) {
  .mikocun1 {
    display: none;
  }

  .mikocun2 img {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .mikocun1-herb {
    display: none;
  }
  .mikocun2__title {
    position: relative;
    right: -10px;
    top: 30px;
    background-color: #a8ca3f;
    color: #fff;
    padding: 5px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 7px;
    width: 85px;
  }
}

@media (max-width: 660px) {
  .bulids__container {
    display: flex;
    margin: auto;
    flex-direction: column;
  }

  .main-display__left-side {
    width: 100%;
    height: 200px;
    background: none;
    position: relative;
    background-repeat: no-repeat;
  }

  .header__right-side {
    flex-direction: column;
    align-items: center;
  }

  .kupon {
    margin: 40px 0 0 0;
  }
}
