* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

.top-line {
  height: 4px;
  background: #101214;
}

.header {
  margin: auto;
  max-width: 1000px;
  justify-content: space-between;
  padding: 40px 20px;
}

main {
  display: flex;
  margin: auto;
  max-width: 1000px;
  justify-content: space-between;
  padding: 30px 20px;
}

.name {
  font-family: Arial;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #101214;
}

.suname {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #101214;
}
