* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

:root {
  --main-color: #c2e29d;
  --body-background: #eaeaea;
  --links: #f5f5f5;
  --main-text: #d8d8d8;
  --footer: rgb(20, 20, 20);
  --setting-menu: rgb(90, 90, 90);
}

body {
  background-color: var(--body-background);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  transition: 0.3s;
  position: relative;
  background-color: rgb(41, 38, 45);
}

.bg-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background: url(../img/adrien-tutin-Ddxb6fq6cIY-unsplash.jpg);
  background-position: 50% 10%;
  z-index: 1;
}

.bg-header::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 150px;
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(41, 38, 45, 0.5) 28%,
    rgb(41, 38, 45) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(41, 38, 45, 0.5) 28%,
    rgb(41, 38, 45) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(41, 38, 45, 0.5) 28%,
    rgb(41, 38, 45) 100%
  );
}

.header {
  position: relative;
  z-index: 10;
  background-position: 100% 40%;
}

.main {
  background: var(--body-background);
  margin: auto;
  padding: 40px;
  max-width: 1300px;
  z-index: 10;
  position: relative;
}

.header__container {
  max-width: 1300px;
  margin: auto;
  display: flex;
  max-width: 1000px;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}

.header__logo {
  font-size: 30px;
  font-weight: 600;
  color: var(--links);
  cursor: pointer;
  transition: all 0.3s;
  width: 50px;
  height: 50px;
  border: solid 3px var(--links);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo:hover {
  transition: all 0.3s;
  color: var(--main-color);
  border: solid 3px var(--main-color);
  border-radius: 50%;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__item {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  color: var(--links);
  margin: 0 0 0 40px;
  transition: all 0.3s;
}

.nav__item--hover {
  position: relative;
}

.nav__item--hover::after {
  position: absolute;
  content: "";
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  width: 100%;
  background-color: var(--main-color);
  height: 3px;
  left: 0;
  bottom: -5px;
}

.nav__item::before {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: "";
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  width: 100%;
  background-color: var(--main-color);
  height: 3px;
  opacity: 0;
  transition: all 0.3s;
}

.nav__item:hover.nav__item::before {
  opacity: 1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.header__container {
  padding: 40px 0;
  max-width: 1300px;
  margin: auto;
}

.scetion1__container {
  padding: 40px 0;
  max-width: 1300px;
  margin: auto;
}

.section-title {
  color: rgb(37, 37, 37);
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 30px 0;
}

.section1 {
  margin: 100px 0 0 0;
  z-index: 100;
  position: relative;
}

.main-text {
  color: var(--main-text);
  font-size: 50px;
  line-height: 60px;
  max-width: 500px;
  font-weight: 600;
}

.contact-me {
  color: var(--links);
  margin: 40px 0 0 0;
}

.contact-me__button {
  border: none;
  background: none;
  border-radius: 100%;
  border: solid 1px var(--links);
  color: var(--links);
  font-size: 16px;
  padding: 0;
  width: 25px;
  height: 25px;
  margin: 0 0 0 10px;
  transition: all 0.3s;
}

.contact-me__button:hover {
  transition: all 0.3s;
  color: var(--main-color);
  border: solid 1px var(--main-color);
}

.work {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work__item {
  width: 31%;
  height: 300px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin: 0 0 40px 0;
  background-color: rgb(41, 38, 45);
}

.work__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background: -webkit-linear-gradient(
    top,
    rgba(41, 38, 45, 0.2) 0%,
    rgba(41, 38, 45, 0.3) 5%,
    rgb(41, 38, 45) 80%
  );
  transition: all 0.3s;
}

.work__item--img {
  position: relative;
  width: 100%;
  height: 80%;
  transition: all 0.3s;
  object-fit: cover;
  transform: scale(1.1);
  padding: 30px 20px;
}

.work__item--img::after {
  content: "sss";
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: red;
  bottom: 0;
  left: -10px;
  z-index: 100;
}

.name {
  font-family: Arial;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #101214;
}

.work__item:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.work__item:hover .work__item--img {
  transform: scale(1.3);
  transition: all 0.3s;
  height: 100%;
}

.work__item:hover.work__item::after {
  opacity: 0;
  transition: all 0.3s;
}

.work__item:hover .work__item--title {
  left: -140px;
  bottom: 20px;
  transition: all 0.3s;
}

.work__item--title {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-size: 25px;
  color: #fff;
  z-index: 10;
  transition: all 0.3s;
}

.work__item--tags-container {
  position: absolute;
  bottom: 30px;
  right: 20px;
  z-index: 10;
  display: flex;
  transition: all 0.3s;
}

.work__item:hover .work__item--tags-container {
  right: -140px;
  transition: all 0.3s;
}

.work__item--tag {
  margin: 0 0px 0 0;
  border-radius: 10px;
  padding: 3px 8px 3px 8px;
  color: var(--main-color);
  font-weight: 600;
  font-size: 15px;
}

.footer {
  width: 100%;
  padding: 20px 0;
  display: flex;
  max-width: 1300px;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}

.footer__social--link {
  color: var(--links);
  font-size: 25px;
  margin: 0 0 0 20px;
  transition: all 0.3s;
  font-weight: 600;
}

.footer__social--link:hover {
  transition: all 0.3s;
  color: var(--main-color);
}

.made-by {
  color: var(--links);
  font-size: 15px;
}

.suname {
  font-weight: 500;
}

.made-by b {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
}

.technologies-items-container {
  display: flex;
  padding: 0 0 10px 0;
}

.technologies-item {
  background: var(--links);
  min-width: 200px;
  border-radius: 5px;
  padding: 20px;
  margin: 0 20px 0 0;
  cursor: pointer;
  transition: all 0.3s;
  border: solid 1px rgb(20, 20, 20, 0.1);
}

.technologies-item:last-child {
  margin: 0;
}

.technologies-item:hover {
  transition: all 0.3s;
  background-color: var(--main-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.technologies-item--title {
  margin: 20px 0 0 0;
  font-weight: 600;
  font-size: 22px;
}

.technologies-item--img {
  width: 40px;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
  width: 100%;
  overflow-x: auto;
}

@media (max-width: 1340px) {
  .header__container {
    padding: 40px;
  }

  .scetion1__container {
    padding: 40px;
  }
  .footer {
    padding: 20px 40px;
  }
}

@media (max-width: 940px) {
  .work__item {
    width: 48%;
  }
  body {
    background-size: cover;
  }
}

@media (max-width: 640px) {
  .work__item {
    width: 100%;
  }
  .work__item--img {
    object-fit: cover;
  }
  .main-text {
    font-size: 40px;
    line-height: 50px;
  }
  .header__container {
    padding: 20px;
  }
  .scetion1__container {
    padding: 20px 20px 40px 20px;
  }
  .main {
    padding: 40px 20px;
  }
  .footer {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .footer {
    flex-direction: column;
  }
  .footer__social {
    margin: 20px 0 0 0;
  }
}

@media (max-width: 400px) {
  .nav {
    flex-direction: column;
    align-items: flex-end;
  }
  .nav__item {
    margin: 0 0 20px 0;
  }
  .header__logo {
    align-self: flex-start;
  }
}
