@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');



body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

TABLE {
    border-collapse: collapse; 
    width: 600px; 
    background: #F4F4F4;
}
   TH, TD {
    border: 1px solid #CDCDCD; 
    text-align: left; 
    padding: 10px;
   }
   TH {
    background: #E8E8E8; 
    color: #6A799D;
    height: 20px; 
    padding: 10px; 
    vertical-align: bottom; 
    
   }

input {
  background: #F4F4F4;
  padding: 10px;
  text-color: #fff;
  border: 1px solid #CDCDCD;
}

textarea {
  background: #F4F4F4;
  padding: 10px;
  text-color: #fff;
  border: 1px solid #CDCDCD;}

