@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

TABLE {
    border-collapse: collapse; 
    width: 600px;
   background: #DAF7A6;}
   TH, TD {
    border: 1px solid #5E694B; 
     
    text-align: left; 
    padding: 5px; 
   }
   TH {
    background: #849566;   
    color: #fff;
    height: 20px; 
    padding: 5px; 
    vertical-align: bottom; 
    
   }

input {
  background: #DAF7A6;
  padding: 5px;
  text-color: #fff;
  border: 1px solid #5E694B;
}


textarea {
  background: #DAF7A6;
  padding: 5px;
  text-color: #fff;
  border: 1px solid #5E694B;}



