@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

TABLE {
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
    width: 600px; /* Ширина таблицы */
   background: #DAF7A6;}
   TH, TD {
    border: 1px solid #5E694B; 
      /* Параметры рамки */
    text-align: left; /* Выравнивание по центру */
    padding: 5px; /* Поля вокруг текста */
   }
   TH {
    background: #849566; /* Цвет фона ячейки */  
    color: #fff;
    height: 20px; /* Высота ячеек */
    padding: 5px; 
    vertical-align: bottom; /* Выравнивание по нижнему краю */
    
   }

input {
  background: #DAF7A6;
  padding: 5px;
  text-color: #fff;
  border: 1px solid #5E694B;
}


textarea {
  background: #DAF7A6;
  padding: 5px;
  text-color: #fff;
  border: 1px solid #5E694B;}



