body {
  background-color: #484747;
  font-family: "Titillium Web", sans-serif;
  color: #f8feff;
  font-size: 10px;
  font-weight: 600;
  padding: 30px;
  margin: 0;
}

body a {
  color: #f8feff;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #f7ebeb;
  -webkit-box-shadow: 0px 0px 28px 4px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 0px 28px 4px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 0px 28px 4px rgba(0, 0, 0, 0.21);
}

.left-side {
  background: #545871;
  color: #f8feff;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-side-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 30px;
}
.logo {
  font-size: 30px;
  max-width: 300px;
}
sub {
  font-size: 10px;
}
nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 17px;
  padding-inline-start: 0px;
}

nav ul li a {
  color: #b5acbb;
}

.right-content-side {
  border-top: solid 3px #b5acbb;
  max-width: 100%;
  margin: 0 auto;
  column-width: 10em;
  column-count: 4;
  padding: 30px 20px 30px 20px;
  overflow: visible;
}

.right-content-side img {
  width: 100%;
  max-width: 300px;
}

.card {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 30px;
}

i {
  margin-right: 7px;
}
.footer {
  margin-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #717171;
}

@media (max-width: 920px) {
  .right-content-side {
    column-width: 20em;
    column-count: 3;
  }
}

@media (max-width: 420px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .right-content-side {
    padding-top: 30px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .right-content-side {
    border-top: solid 3px #b5acbb;
    max-width: 100%;
    margin: 0 auto;
    column-width: 10em;
    column-count: 4;
    padding: 30px 20px 0px 20px;
  }
  nav {
    display: none;
  }
}
