body {
background: #d0d1cb;
margin: 0;
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
height: 100%;
}
h1 {
  font-family: "Roboto", sans-serif;
}
.sec-2 {
  background: #d0d1cb;
  width: 100%;
  height: 100%;
}
.sec1{
  background:#212020;
  width: 100%;
}
  
  .me4i{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      width: 300px;
      height: 300px;
  }
  .me4i input{
      display: block;
      width: 100px;
      height: 152px;
      position: absolute;
      top: 121px;
      left: 96px;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
  }
  span{
      transition-duration: 1s;
  }
  .me41{
      position: absolute;
      top: 150px;
    left: 19px;
      height: 5px;
      width: 220px;
      background-color: #fff;
    border-radius: 6px;
  }
  .me42{
      position: absolute;
      top: 130px;
      height: 5px;
      width: 200px;
      background-color: #fff;
    border-radius: 6px;
  }
  .me43{
      position: absolute;
      top: 170px;
      height: 5px;
      width:200px;
      background-color: #fff;
    border-radius: 6px;
  }
  .me41::after{
      content: "";
      left: 200px;
      width: 29px;
      height: 7px;
   background: linear-gradient(
      to bottom,
      #000,
      #000 5%,
      #000 2%,
      #5c5c3d
    );
    background-size: 50% 2px;
      border: 2px solid #5c5c3d;
      position: absolute;
    margin-top: -3px;
      border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
   }
  .me42:after{
      content: "";
      right: 199px;
      width: 29px;
      height: 7px;
      background: linear-gradient(
      to bottom,
      #000,
      #000 5%,
      #000 2%,
      #5c5c3d
    );
    background-size: 50% 2px;
      position: absolute;
      border: 2px solid #5c5c3d;
      position: absolute;
    margin-top: -3px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }
  .me43:after{
      content: "";
      left: -32px;
      width: 29px;
      height: 7px;
      position: absolute;
      background: linear-gradient(
      to bottom,
      #000,
      #000 5%,
      #000 2%,
      #5c5c3d
    );
    background-size: 50% 2px;
      border: 2px solid #5c5c3d;
      position: absolute;
    margin-top: -3px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }
  input:checked ~ .me41 {
      position: absolute;
   opacity: 1;
      top: 175px;
      transform: rotate(50deg) translate(-2px, -1px);
      background: #fff;
  }
  
  input:checked ~ .me42{
    top: 14px;
        opacity: 0;
      transform: rotate(30deg) translate(-2px, -1px);
      background: #fff;
  }
  input:checked ~ .me43{
      opacity: 1;
      top: 164px;
      transform: rotate(-50deg) translate(-2px, -1px);
      background: #fff;
  }
  input:checked:hover ~ .me41 {
    background: #fc8200;
      box-shadow: -28px 0 35px #ffa200;
  }
  
  input:checked:hover ~ .me43 {
     background: skyblue;
      box-shadow: 28px 0 35px skyblue;
  }

/* twoooooo*/


.block {
margin-top: 200px;
display: flex;
justify-content: center;
}
.sharik1 {
width: 50px;
height: 50px;
background-color: #2F4F6B;
border-radius: 50px;
position: relative;
animation: first-sharik .5s linear infinite alternate;
}
.sharik2 {
width: 50px;
height: 50px;
border-radius: 50px;
background: linear-gradient(to right, #2F4F6B 0%, #414960 100%);
}
.sharik3 {
width: 50px;
height: 50px;
border-radius: 50px;
background: linear-gradient(to right, #414960 0%, #68434B 100%) ;
}
.sharik4 {
width: 50px;
height: 50px;
border-radius: 50px;
background: linear-gradient(to right, #68434B 0%, #923D3C 100%) ;
}

.sharik5 {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: linear-gradient(to right, #923D3C 0%, #B4382D 100%) ; 
  }

.sharik6 {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: linear-gradient(to right, #B4382D 0%, #D53624 100%) ;
    }  
 

.sharik7 {
width: 50px;
height: 50px;
background-color: #D53624;
border-radius: 50px;
position: relative;
animation: last-sharik .5s linear infinite alternate;
}

.ten {
width: 40px;
height: 10px;
background: silver;
border-radius: 50px;  
 filter: blur(3px);
}

.ten-last {
width: 30px;
height: 10px;
background: silver;
border-radius: 50px;  
filter: blur(3px);
animation: last-ten .5s linear infinite alternate;
}


.first-ten {
width: 30px;
height: 10px;
background: silver;
border-radius: 50px;  
 filter: blur(3px);
    animation: first-ten .5s linear infinite alternate;  
}

.ten-sharika {
  margin-top: 200px;
  display: flex;
  justify-content: center; 
}

@keyframes last-ten {
    0%{
        opacity: .2;
        transform: translateX(50px);
       
    }

    50%, 100% {
        opacity: 1;
        transform: translateX(0);
    }
}





@keyframes first-sharik {
    0%, 50% {
        transform: rotate(0) translateX(0);
    }

    100% {
        transform: rotate(65deg) translateX(-60px);
    }
}

@keyframes last-sharik {
    0% {
        transform: rotate(-65deg) translateX(60px);
    }

    50%, 100% {
        transform: rotate(0) translateX(0);
       
    }
}

@keyframes first-ten {
    0%, 50% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: .2;
        transform: translateX(-50px);
    }
}


