.profile {
  display: flex;
  width: 100%;
}
.right {
  margin-left: 15px;
  width: 100%;
}

.block {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 #ded3d3, 0 0 0 1px #ece7e7;
  margin: 0 0 15px 0;
}

.blockLeft {
  width: 200px;
  padding: 15px;
}

.blockRight {
  padding: 20px;
}

.blockLeft img {
  width: 100%;
  border-radius: 2px;
}

.blockHeader {
  font-size: 12.5px;
  display: flex;
  justify-content: space-between;
}

.blockTitle span {
  color: #939393;
  margin: 0 0 0 5px;
}

.blockHeader a {
  text-decoration: none;
  color: #939393;
}

.blockTitle a {
  color: #000;
}

.friendItem img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.friendItemName {
  color: var(--links);
  font-size: 12.5px;
  text-align: center;
  display: block;
  margin-top: 5px;
}

.friendsRow {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.subscriptionsItem {
  display: flex;
  margin-top: 15px;
  align-items: center;
}

.subscriptionsItem img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.subscriptionsItemTitle {
  color: var(--links);
  font-size: 12.5px;
  margin-bottom: 5px;
  display: block;
}

.subscriptionsItemDesc {
  color: #939393;
}

.audioItem {
  margin: 15px -5px -5px -5px;
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.audioItem:hover {
  background: var(--hover-audio);
  border-radius: 4px;
}

.audioItem img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 4px;
}

.audioItemAuthor {
  color: #939393;
}

.audioItemName {
  font-weight: 700;
  margin-bottom: 5px;
}

/* right side */
.profileTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileTop span {
  font-size: 12.5px;
  color: #939393;
}

.profileFullName {
  font-size: 19px;
  font-weight: 500;
}

.profileStatus {
  font-size: 13px;
  margin-top: 5px;
  border-bottom: solid 1px #ece7e7;
  padding-bottom: 20px;
}

.itemShort {
  position: relative;
  font-size: 13px;
  display: flex;
  margin-top: 15px;
}

.itemShortLabel {
  color: #939393;
}

.itemShortLabeled {
  position: absolute;
  left: 150px;
}

hr {
  margin: 20px -20px;
  border: 0;
  height: 1px;
  background-color: #ece7e7;
}

.ProfileCounterDigit {
  font-size: 19px;
  color: var(--links);
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.ProfileCounterItem span {
  color: #939393;
}

.ProfileCounter {
  display: flex;
  justify-content: center;
}

.ProfileCounterItem {
  margin: 0px 20px;
  text-align: center;
}

/* right side */
