@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.header {
  background: var(--main-color);
  height: 40px;
  border-bottom: solid 1px var(--main-color);
  margin: 0 0 15px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  height: 100%;
  margin: auto;
  align-items: center;
}

.logo {
  font-family: "Lobster", cursive;
  color: #fff;
  font-size: 25px;
}
