.box {
  width: 100px;
  height: 100px;
  float: left;
  padding: 5px;
}
.pink {
  background: pink;
}
.lime {
  background: lime;
}
.frame {
  border: 7px solid grey;
}

.pink {
  border-color: red;
}
