/* @font-face {
  font-family: "font2";
  src: url("../fonts/font-2.ttf");
} */

@font-face {
  font-family: "font3";
  src: url("../fonts/font-2.ttf");
}

@font-face {
  font-family: "font4";
  src: url("../fonts/stalker-font.ttf");
}

@font-face {
  font-family: "Stalker-Graffiti";
  src: url("../fonts/graffiti.woff");
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #5c382a;
}

:root {
  --body-background: #18191d;
}

html {
  height: 100%;
}

body {
  background-color: var(--body-background);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: relative;
  background-color: #080808;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* background-image: url(../img/bg1.jpg); */
  background-image: url(../img/wall2.jpg);
  padding: 0 10px;
}

.header {
  max-width: 1100px;
  width: 100%;
  flex: 1 0 auto;
  margin: auto;
  border-right: solid 2px #171619;
  border-left: solid 2px #171619;
}

.header__top-line {
  background-color: #151514;
  border-bottom: 1px solid #252522;
  padding: 0 20px;
}

.header__top-line .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.header__top-menu {
  display: flex;
}

.header__top-menu-link {
  color: #4c5157;
  font-size: 14px;
  transition: all 0.3s;
}

.header__top-menu li {
  margin: 0 30px 0 0;
}

.header__top-menu li:last-child {
  margin: 0;
}

.header__logo {
  padding: 5px 10px;
  font-family: font4;
  color: rgba(255, 255, 255, 0.664);
  letter-spacing: 2px;
  font-size: 25px;
}

.header__top-menu-link:hover {
  color: #f5f5f5;
  transition: all 0.3s;
}

.top-line__menu__link:last-child {
  margin: 0 0 0 0;
}

.header__middle {
  width: 100%;
  margin: auto;
  height: 190px;
  position: relative;
}

.header__middle .container {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header__middle::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-position: 40% 40%;
  background-image: url(../img/screenshot_2.jpg);
}

/* .header__bottom::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-image: url(../img/noise.gif);
  opacity: 0.1;
} */

/* header bottom */

.header__bottom-nav {
  display: flex;
}

.header__bottom-nav li a {
  font-size: 17px;
  color: #c0bcb1;
  font-family: Stalker-Graffiti;
  margin: 0 30px 0 0;
}

/* header bottom */

.header__bottom-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #212123c9;
  padding: 5px 15px;
}

.bottom-line__search {
  background-color: #18181a;
  position: relative;
  padding: 0 10px 0 10px;
  border-radius: 5px;
}

.bottom-line__search i {
  position: absolute;
  right: 10px;
  top: 7px;
}

.search {
  width: 100%;
  border: none;
  background: none;
  height: 30px;
  font-size: 12px;
  color: #8b8b8b;
}

.search::placeholder {
  color: #8b8b8b;
}

.fa-search {
  color: #5d5d61;
}

.container-main {
  display: flex;
  padding: 15px;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  flex: 1 0 auto;
  min-height: 100%;
  background: url(/img/bg2.jpg);
  border-right: solid 2px #171619;
  border-left: solid 2px #171619;
}

/* news */

.news {
  margin: 0 15px;
}

.news .item {
  width: 100%;
  background-color: #18181a;
  border-radius: 3px;
}

.news .item__title {
  font-size: 18px;
  font-weight: 500;
  color: #f6ce88;
  padding: 9px 15px;
  background: #252527;
  border-bottom: solid 2px #2d2c31;
  border-radius: 3px 3px 0 0;
}

.news .item__content {
  display: flex;
  padding: 15px;
}

.news .item__img {
  margin: 0 15px 0 0;
  width: 100%;
  max-width: 150px;
  max-height: 120px;
  object-fit: cover;
  border: solid 2px #262521;
}

.news .item__description {
  font-size: 15px;
  color: #b2a187;
  line-height: 23px;
}

.news .item__meta {
  display: flex;
  font-size: 14px;
  color: #808271;
  padding: 10px 15px;
  border-top: solid 2px #1c1c1f;
}

.item__meta li {
  margin: 0 20px 0 0;
}

.aside {
  max-width: 260px;
}

.block {
  background-color: #18181a;
  border-radius: 3px;
}

.block__title {
  color: #f6ce88;
  background: #252527;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  border-bottom: solid 2px #2d2c31;
}

.block__content {
  padding: 15px;
  color: #b2a187;
  font-size: 14px;
  line-height: 19px;
}

/* news */

/* footer */

.footer {
  border-top: solid 2px #171619;
  border-right: solid 2px #171619;
  border-left: solid 2px #171619;
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  background: url(/img/footer-bg.png);
  background-position: 20% 70%;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #18181a;
  opacity: 0.7;
  z-index: 1;
}

.footer .footer__container {
  position: relative;
  color: #777777;
  padding: 15px;
  font-size: 13px;
  text-align: left;
  line-height: 18px;
  z-index: 10;
}

/* footer */
