* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 20px;
  height: 100vh;
  background-color: rgb(140, 106, 157);
  color: rgb(0, 0, 0);
  font-family: "Karla", sans-serif;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header {
  font-size: 35px;
  flex: 1 0 auto;
  align-self: flex-start;
}

footer {
  font-size: 18px;
  flex: 0 0 auto;
  align-self: flex-start;
}

#scriptColor {
  flex: 1 0 auto;
  font-size: 45px;
}

b {
  font-weight: bold;
}
