body {
  width: 100wh;
  height: 100vh;
  background-color: rgb(102, 101, 101);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #fff;
  font-family: "Karla", sans-serif;
  font-size: 36px;
}

header {
  position: absolute;
  left: 20px;
  top: 20px;
  color: #000;
}
