@font-face {
	font-family: "GothamPro";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(fonts/GothamProLight.woff) format("woff");
}

@font-face {
	font-family: "GothamPro";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(fonts/GothamProRegular.woff) format("woff");
}

@font-face {
	font-family: "GothamPro";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(fonts/GothamProMedium.woff) format("woff");
}

@font-face {
	font-family: "GothamPro";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(fonts/GothamProBold.woff) format("woff");
}

@font-face {
	font-family: "GothamPro";
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url(fonts/GothamProBlack.woff) format("woff");
}

body {
	font-family: GothamPro;
	font-weight: 400;
	background: #fff;
}

b {
	font-weight: 900;
}

b.color {
	color: #f79900;
}

.open-menu {
	position: absolute;
	right: 15px;
	display: none;
	font-weight: 600;
	font-size: 14px;
	line-height: 13px;
	text-align: center;
	color: #000000;
	@media (max-width: 1100px) {
		display: block;
	}
}

.section-title {
	font-weight: 900;
	font-size: 48px;
	line-height: 120%;
	text-transform: uppercase;
	color: #333333;
	@media (max-width: 700px) {
		font-size: 38px;
		text-align: center;
	}
	@media (max-width: 500px) {
		font-size: 30px;
	}
}

.container {
	max-width: 1220px;
	margin: auto;
	padding: 0 15px;
}

.header {
	background: #ffffff;
	&__logo {
		padding: 22px 0;
	}
	&__container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.menu {
	display: flex;
	@media (max-width: 1100px) {
		display: none;
	}
	&__item {
		padding: 0 64px;
		@media (max-width: 1100px) {
			padding: 20px 40px;
		}
	}
	&__link {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 13px;
		text-align: center;
		color: #000000;
	}
	&.open {
		display: flex;
		flex-direction: column;
		position: absolute;
		right: 0;
		top: 80px;
		z-index: 10;
		background: white;
	}
}

.slider-main {
	&__item {
		position: relative;
		display: flex;
		align-items: center;
		height: 800px;
	}
	&__title {
		display: flex;
		flex-direction: column;
		max-width: 620px;
		margin: 0 0 15px 0;
		font-weight: 900;
		font-size: 72px;
		line-height: 120%;
		color: #ffffff;
		@media (max-width: 1200px) {
			font-size: 52px;
		}
		@media (max-width: 700px) {
			font-size: 42px;
		}
	}
	&__sub-title {
		font-size: 54px;
		@media (max-width: 700px) {
			font-size: 32px;
		}
	}
	&__tag {
		display: inline-flex;
		padding: 10px 30px;
		margin: 0 0 38px 0;
		font-size: 24px;
		line-height: 112.7%;
		color: #070508;
		background: #f79900;
	}
	&__description {
		max-width: 533px;
		font-size: 14px;
		line-height: 160%;
		color: #ffffff;
	}
	&__background {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__content {
		align-self: center;
		position: relative;
		z-index: 10;
	}
	&__container {
		display: flex;
		min-height: 500px;
	}
}

.slider-main {
	ul.slick-dots {
		position: absolute;
		bottom: 26px;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		li {
			&:not(:last-child) {
				margin: 0 20px 0 0;
			}
			font-size: 0;
			button {
				width: 13px;
				height: 13px;
				padding: 0;
				background: black;
				border: 2px solid #575757;
				border-radius: 50%;
			}
		}
		li.slick-active {
			button {
				background: #f79900;
			}
		}
	}
}

.section1 {
	padding: 90px 0;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 1200px) {
			flex-direction: column;
		}
	}
	&__illustration {
		width: 100%;
		max-width: 473px;
	}
	&__content {
		max-width: 614px;
		@media (max-width: 1200px) {
			margin: 50px 0 0 0;
		}
	}
	&__title {
		margin: 0 0 35px 0;
	}
	&__description {
		font-size: 18px;
		line-height: 100%;
		color: #7d7d7d;
	}
}

.cards {
	&__container {
		display: flex;
		@media (max-width: 1100px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}

.card {
	display: flex;
	flex-direction: column;
	max-width: 299px;
	padding: 58px 36px 45px 36px;
	background: #333333;
	&:nth-child(2n) {
		background: #f79900;
	}
	@media (max-width: 1100px) {
		&:nth-child(1n) {
			background: #f79900;
		}
		&:nth-child(3n - 1) {
			background: #333333;
		}
		&:nth-child(4n - 1) {
			background: #333333;
		}
	}
	&__title {
		margin: 0 0 20px 0;
		font-weight: 900;
		font-size: 18px;
		line-height: 120%;
		color: #ffffff;
	}
	&__description {
		flex-grow: 1;
		position: relative;
		padding: 0 0 15px 0;
		margin: 0 0 20px 0;
		font-size: 12px;
		line-height: 140%;
		color: #ffffff;
		border-bottom: solid 1px white;
	}
	&__link {
		display: inline-flex;
		align-self: flex-start;
		position: relative;
		font-size: 14px;
		line-height: 140%;
		text-transform: uppercase;
		color: #ffffff;
		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: -1px;
			width: 100%;
			height: 1px;
			background: white;
		}
	}
}

.section2 {
	padding: 90px 0;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 1100px) {
			flex-direction: column;
		}
	}
	&__content {
		@media (max-width: 1100px) {
			margin: 0 0 40px 0;
		}
	}
	&__title {
		margin: 0 0 30px 0;
	}
	&__description {
		max-width: 670px;
		font-size: 14px;
		line-height: 190%;
		color: #000000;
	}
	&__img {
		width: 100%;
		max-width: 472px;
	}
}

.blocks {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 65%;
		background: url(img/blocks-bg.jpg);
		background-position: 0% 66%;
		background-size: 1900px;
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 65%;
		background: black;
		opacity: 0.5;
	}
	&__container {
		display: flex;
		padding-top: 90px;
		position: relative;
		z-index: 10;
		@media (max-width: 1100px) {
			flex-wrap: wrap;
			justify-content: center;
		}
		@media (max-width: 620px) {
			align-items: center;
			flex-direction: column;
		}
	}
}

.block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 300px;
	background: #ffffff;
	border: 15px solid #333333;
	box-sizing: border-box;
	&:nth-child(2n + 1) {
		border: 15px solid #f79900;
		.block__count {
			color: #f79900;
		}
	}
	@media (max-width: 1100px) {
		width: 45%;
	}
	@media (max-width: 620px) {
		width: 100%;
		max-width: 300px;
	}
	&__count {
		margin: 0 0 13px 0;
		font-weight: 900;
		font-size: 96px;
		line-height: 92px;
		text-align: center;
		color: #333333;
	}
	&__description {
		max-width: 190px;
		font-size: 14px;
		line-height: 13px;
		text-align: center;
		color: #000000;
	}
}

.section3 {
	padding: 90px 0;
	&__title {
		text-align: center;
		@media (max-width: 500px) {
			margin-bottom: 30px;
		}
	}
}

.slider-second {
	&__container {
		display: flex;
		@media (max-width: 1100px) {
			flex-direction: column;
		}
	}
	&__left {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 0 574px;
		min-height: 543px;
		@media (max-width: 500px) {
			flex: 0 0 100%;
			min-height: 343px;
		}
		@media (max-width: 730px) {
			width: 100%;
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54));
			z-index: 1;
		}
	}
	&__title {
		position: relative;
		max-width: 417px;
		font-style: normal;
		font-weight: 900;
		font-size: 48px;
		line-height: 116.7%;
		text-align: center;
		color: #ffffff;
		z-index: 2;
		@media (max-width: 500px) {
			font-size: 28px;
		}
	}
	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__right {
		position: relative;
		max-width: 574px;
		margin: 0 0 0 38px;
		padding: 90px 50px 150px 50px;
		background: #ffffff;
		border: 15px solid #f79900;
		@media (max-width: 1100px) {
			max-width: 100%;
			margin: 38px 0 0 0;
		}
		@media (max-width: 500px) {
			margin: 18px 0 0 0;
			padding: 30px 30px 160px 30px;
		}
	}
	&__descripton {
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		color: #000000;
	}
	&__all-block {
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 24px 24px 17px 46px;
		font-weight: bold;
		font-size: 14px;
		line-height: 142.7%;
		color: #ffffff;
		background: #f79900;
	}
	&__all-title {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: -1px;
			width: 100%;
			height: 1px;
			background: white;
			opacity: 0.5;
		}
	}
	&__arrows {
		display: flex;
		position: absolute;
		left: 55px;
		bottom: 55px;
		@media (max-width: 500px) {
			left: 30px;
			bottom: 65px;
		}
	}
	&__arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 52px;
		height: 52px;
		border-radius: 50%;
		border: 1px solid #7d7d7d;
		cursor: pointer;
		img {
			width: 12px;
			height: 24px;
		}
	}
	&__prev {
		margin: 0 20px 0 0;
	}
	&__dots {
		@media (max-width: 500px) {
			display: none;
		}
	}
}

.slider-second__dots .slick-dots {
	margin: 24px 0 34px 0;
	display: flex;
	justify-content: center;
}

.slider-second__dots .slick-dots li button {
	font-size: 18px;
	line-height: 142.7%;
	color: #000000;
	background: none;
	border: none;
}

.slider-second__dots .slick-dots li {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -5px;
		display: none;
		width: 100%;
		height: 5px;
		background: #f79900;
	}
	&:not(:last-child) {
		margin: 0 80px 0 0;
		@media (max-width: 1100px) {
			margin: 0 20px 0 0;
		}
	}
}

.slider-second__dots .slick-dots li.slick-active {
	button {
		color: #f79900;
	}
	&::after {
		display: block;
	}
}

.section4 {
	padding-bottom: 90px;
	&__container {
		display: flex;
		justify-content: space-between;
		@media (max-width: 1100px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	&__img {
		width: 100%;
	}
	&__title {
		max-width: 519px;
		margin: 0 0 23px 0;
		@media (max-width: 1100px) {
			text-align: center;
			margin: auto;
			margin-bottom: 23px;
		}
	}
	&__description {
		max-width: 517px;
		font-size: 14px;
		line-height: 140%;
		color: #000000;
		@media (max-width: 1100px) {
			text-align: center;
			margin: auto;
		}
	}
	&__img {
		max-width: 674px;
	}
	&__ {
		max-width: 670px;
	}
	&__right {
		flex: auto;
		max-width: 472px;
		@media (max-width: 1100px) {
			margin: 40px 0 0 0;
		}
	}
}

.feedback-form {
	&__item {
		display: flex;
		flex-direction: column;
		margin: 0 0 23px 0;
		&:last-child {
			margin: 0;
		}
	}
	&__item--button {
		margin: 40px 0 30px 0;
	}
	&__label {
		margin: 0 0 12px 0;
		font-size: 16px;
		line-height: 148.2%;
		color: #000000;
	}
	&__input {
		padding: 21px 27px;
		background: #ffffff;
		border: 3px solid #bbbbbb;
	}
	&__button {
		padding: 20px;
		font-size: 16px;
		line-height: 148.2%;
		text-align: center;
		color: #ffffff;
		background: #f79900;
		border: none;
	}
	&__description {
		font-weight: 300;
		font-size: 12px;
		line-height: 150%;
		color: #000000;
	}
}

.footer {
	padding: 90px 0;
	position: relative;
	background: url(img/footer-bg.jpg);
	background-position: 39% 35%;
	background-size: cover;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
	}
	&__container {
		position: relative;
		z-index: 1;
	}
}

.menu-footer {
	display: flex;
	justify-content: space-between;
	@media (max-width: 900px) {
		flex-wrap: wrap;
	}
	@media (max-width: 600px) {
		flex-direction: column;
	}
	&__block {
		margin: 0 0 45px 0;
	}
	&__block-title {
		margin: 0 0 24px 0;
		font-weight: 900;
		font-size: 18px;
		line-height: 148.2%;
		color: #ffffff;
	}
	&__item {
		margin: 0 0 23px 0;
	}
	&__link {
		font-size: 14px;
		color: #ffffff;
	}
}

.phone-links {
	&__item {
		margin: 0 0 20px 0;
	}
	&__link {
		font-weight: 900;
		font-size: 18px;
		color: #ffffff;
	}
}

.social-links {
	display: flex;
	&__item {
		margin: 0 7px 0 0;
	}
}
