<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
	<title>Document</title>
</head>
<body class="bg-gray-400 p-5">
	<div id="app">
	<div class="container p-5 m-auto w-96 shadow-md bg-gray-100 rounded">
		<div class="font-medium text-2xl mb-3">
			{{titleApp}}
		</div>
		<div>
	    <input 
		class="w-full rounded-md border border-gray-30 py-1 px-3 mb-2" 
		type="text"
		 v-bind:value="inputValue1"
		 placeholder="Print color 1" 
		 v-on:input="inputChangeHandler"
		 />
		<input 
		class="w-full rounded-md border border-gray-30 py-1 px-3 mb-3"
		 type="text" 
		v-bind:value="inputValue2" 
		placeholder="Print color 2"
		v-on:input="inputChangeHandler2"
		 />
		</div>
		<button class="inline-flex items-center justify-center rounded-md bg-black text-white py-1 px-3"
		v-on:click="addNewGradient"
		type="submit">Add color</button>
	<hr class="mt-4 mb-4">

		<ul v-if="gradients.length !== 0">
		<li class="relative p-6 rounded text-white flex justify-between mt-8" 
		v-for="(gradient, index) in gradients" 
		:style="{ 
			background: `linear-gradient(to right, ${gradient.color1}, ${gradient.color2}`
		  }">
		  <div class="absolute left-0 -top-5 text-black text-sm">#{{index + 1}}</div>
		  <div>
			{{gradient.color1}}  
		  </div>
		  <div>{{gradient.color2}}</div>
		  <button class="absolute right-0 -top-5 text-black text-sm font-semibold text-red-500" v-on:click="removeGradient(index)">delete</button>
		</li>
	</ul>

	<div v-if="gradients.length === 0">No gradients</div>

	</div>
	</div>

	<script src="https://unpkg.com/vue@next"></script>
	<script src="./script.js"></script>
</body>
</html>