* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--temple-main-color);
}

:root {
  --temple-main-color: #db3742;
  --bg-body: #f4f4f4;
  --bg-block: #fff;
  --color-border: rgb(230, 230, 230);
  --color-text-description: rgb(75, 75, 75);
  --color-text-counter: rgb(139, 139, 139);
  --color-text-title: rgb(75, 75, 75);
  --block-swadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

/* var(--orange-color); */

body {
  font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;
  font-size: 15px;
  background-color: var(--bg-body);
  transition: ease-in 0.3s;
}

.header {
  background-color: var(--temple-main-color);
  transition: ease-in 0.3s;
}

.header > .container {
  display: flex;
  max-width: 940px;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: auto;
  color: #fff;
  padding: 20px;
  position: relative;
}

.header-logo-img {
  width: 40px;
  height: 40px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo__text {
  font-weight: 600;
  font-size: 20px;
  margin: 0 0 0 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  text-decoration: none;
  color: rgb(248, 248, 248, 0.6);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  padding: 20px;
}

.nav__link:last-child {
  padding: 20px 0 20px 20px;
}
.nav__link:hover {
  color: rgb(248, 248, 248);
}

.main {
  padding: 20px 0 20px 0;
  display: flex;
  max-width: 900px;
  margin: auto;
}

.article-block {
  background-color: var(--bg-block);
  max-width: 900px;
  border-radius: 3px;
  margin: 0 20px 20px 0;
  transition: ease-in 0.3s;
  box-shadow: var(--block-swadow);
}

.article-block__title {
  font-size: 20px;
  color: var(--color-text-title);
  padding: 20px 20px 0 20px;
}

.article-block__img {
  margin: 20px 0 20px 0;
}

.article-block__img img {
  width: 100%;
}

.article-block__description {
  padding: 0 20px 20px 20px;
  font-size: 15px;
  color: var(--color-text-description);
  line-height: 25px;
}

.counters-block {
  padding: 0 20px 20px 0;
  color: var(--color-text-counter);
  display: flex;
  justify-content: space-between;
}

.counters-block__left,
.counters-block__right {
  display: flex;
}

.counters-block__item {
  font-size: 14px;
  margin: 0 0 0 20px;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.counters-block__item:hover {
  color: var(--temple-main-color);
}

.counters-block__item__stat {
  margin-left: 5px;
}

.counters-block__item .fa {
  font-size: 19px;
}

.aside-block {
  background-color: var(--bg-block);
  width: 300px;
  box-shadow: var(--block-swadow);
  border-radius: 3px;
  transition: ease-in 0.3s;
}

#changer-theme-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  padding: 20px;
  border-radius: 100%;
  color: var(--color-text-title);
  background-color: var(--bg-block);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#changer-theme-icon:hover {
  background-color: var(--temple-main-color);
  color: var(--bg-body);
}

.changer-theme {
  display: none;
  width: 250px;
  padding: 20px;
  background-color: var(--bg-block);
  position: fixed;
  bottom: 90px;
  right: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.changer-theme::after {
  position: absolute;
  content: "";
  background-color: var(--bg-block);
  width: 20px;
  height: 20px;
  right: 20px;
  bottom: -10px;
  transform: rotate(40deg);
}

.changer-theme.open {
  display: block;
}

.first,
.second,
.default_color,
.fourth {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
}

.default_color {
  background-color: #db3742;
}
.first {
  background-color: #2776aa;
}
.second {
  background-color: #174c51;
}
.fourth {
  background-color: #636e60;
}

.changer-theme__colors {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.changer-theme__text {
  color: var(--color-text-title);
  margin: 0 0 20px 0;
  font-weight: 500;
}

.changer-theme__dark-mode {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.toggle-button {
  display: none;
  color: rgb(248, 248, 248, 0.6);
  font-size: 23px;
}

.toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.toggle:before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 14px;
  display: block;
  background: var(--color-text-counter);
  border-radius: 8px;
  transition: 0.2s ease;
}
.toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: var(--bg-block);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(154, 153, 153, 0.5);
  transition: all 0.2s ease;
}
.toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: var(--temple-main-color);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

#darkmode:checked + .toggle:before {
  background: var(--color-border);
}
#darkmode:checked + .toggle span {
  background: var(--temple-main-color);
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), 0.15s ease;
  box-shadow: 0 3px 8px var(--temple-main-color);
}
#darkmode:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

.comment__informer-item {
  padding: 15px 20px 15px 20px;
  cursor: pointer;
}

.comment__informer-item:hover {
  background-color: var(--temple-main-color);
}

.comment__informer-item:hover .comment__informer-item__user-name {
  color: var(--bg-block);
}

.comment__informer-item:hover .comment__informer-item__user-message {
  color: var(--bg-block);
}

.comment__informer-item:hover .comment__informer-item__date {
  color: var(--bg-block);
}

.comment__informer-item:last-child {
  border-bottom: none;
}

.comment__informer-item:last-child:hover {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.comment__informer-item-left-side img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 0 20px 0 0;
}

.comment__informer-item-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 20px;
}

.comment__informer-item__user {
  display: flex;
}

.comment__informer-item__user-name {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-text-description);
}

.comment__informer-item__date {
  color: var(--color-text-description);
  font-size: 13px;
  opacity: 0.6;
}

.comment__informer-item__user-message {
  margin: 0 0 10px 0;
  font-size: 14px;
  color: var(--color-text-description);
  line-height: 20px;
}

.aside-block__title {
  text-align: center;
  padding: 20px 20px 20px 20px;
  font-size: 14px;
  font-weight: bold;
  color: var(--color-text-title);
  text-transform: uppercase;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

@media (max-width: 700px) {
  .main {
    flex-wrap: wrap;
  }
  .article-block {
    margin: 0 0 20px 0;
  }
  aside {
    width: 100%;
  }
  .aside-block {
    width: 100%;
  }
  .toggle-button {
    display: block;
    position: absolute;
    right: 20px;
    top: 18px;
  }
  .nav {
    display: none;
  }
  .nav.active {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
  .header > .container {
    flex-direction: column;
    height: 100%;
    padding: 10px 20px 10px 20px;
  }
  .header__logo {
    align-self: flex-start;
  }
  .nav__link {
    padding: 10px 20px 10px 0;
  }
  .nav__link:last-child {
    padding: 10px 20px 10px 0;
  }
  .counters-block {
    flex-wrap: wrap;
  }
  .counters-block__left {
    margin: 0 0 20px 0;
  }
  .counters-block__left,
  .counters-block__right {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .comment__informer-item-right-side {
    width: 100%;
  }
}
