body {
  font-family: "Open Sans", sans-serif;
  background: #f7f9fc;
}

.container {
  width: 100%;
  max-width: 1167px;
  margin: auto;
}

.header {
  background: #ffffff;
  -webkit-box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.06);
  padding: 20px 0 0 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header__logo {
  margin: 0 0 23px 0;
}

.header__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__button-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform: translateY(calc(50% - 1px));
          transform: translateY(calc(50% - 1px));
  width: 64px;
  height: 64px;
  background: linear-gradient(135deg, #ff974f 0%, #e32c75 100%);
  border-radius: 50%;
}

.header__button-add img {
  width: 20px;
  height: 20px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu__item:not(:last-child) {
  margin: 0 36px 0 0;
}

.header-menu__item--active {
  opacity: 1;
  position: relative;
}

.header-menu__item--active::before {
  content: "";
  position: absolute;
  bottom: -25px;
  width: 100%;
  height: 4px;
  background: linear-gradient(135deg, #ff974f 0%, #e32c75 100%);
}

.header-menu__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #3e4056;
  opacity: 0.6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-menu__link:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
}

.header-menu__item--active .header-menu__link {
  opacity: 1;
}

.header-user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-user-block__name {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #3e3f58;
}

.header-user-block__avatar {
  width: 32px;
  height: 32px;
  margin: 0 12px 0 20px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

.icon-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 30px;
}

.icon-links__item:not(:last-child) {
  margin: 0 17px 0 0;
}

.content {
  padding: 80px 0 0 0;
}

.content-user-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-user-block__avatar {
  margin: 0 24px 0 0;
}

.content-user-block__avatar img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.content-user-block__user-name {
  max-width: 145px;
  margin: 0 0 8px 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: #3e3f58;
}

.content-user-block__user-nick {
  margin: 0 0 16px 0;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #3e3f58;
}

.content-user-block__edit-title {
  font-size: 16px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #f05d63;
}

.content-user-block__edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-user-block__edit img {
  margin: 0 8px 0 0;
}

.user-setting-dropdown {
  position: relative;
}

.user-setting-dropdown__menu {
  position: absolute;
  top: 40px;
  left: -10px;
  min-width: 176px;
  padding: 24px 0;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.user-setting-dropdown__menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #3e4056;
}

.user-setting-dropdown__menu-link img {
  width: 19px;
  margin: 0 16px 0 0;
}

.user-setting-dropdown__menu-link:hover {
  background: #ecf1f86e;
}
/*# sourceMappingURL=style.css.map */