.menu {
  padding-inline-start: 0;
  margin-left: -10px;
  margin-block-start: 0;
  width: 160px;
  display: block;
}

.menuItem {
  list-style: none;
}

.menuLink {
  display: block;
  width: 120px;
  color: var(--menu-links);
  font-family: "Lato", sans-serif;
  text-decoration: none;
  font-size: 12.5px;
  font-weight: 600;
  padding: 10px;
}

.menuLink:hover {
  background-color: var(--hover-link-menu);
  border-radius: 2px;
}
