body {
    font-family: 'Montserrat', sans-serif;
    background-color: #EBF0F6; 

}

header {
width: 100%;
margin: auto;
display: flex;
justify-content: space-evenly;
align-items: center;  
height: 80px;
   
}

nav>ul {
    display: flex;
    justify-content: space-between;
}

nav {
    width: 40%;
}

nav li {
   list-style-type: none;
}

nav a {
text-decoration: none;
font-size: 18px;
line-height: 22px;
text-transform: uppercase;
color: #3F3F3F;
}

.logo {
font-size: 30px;
line-height: 22px;
text-transform: uppercase;
color: #3F3F3F; 
font-weight: 800;    
}

.head-bg {
    background-image: url(bg_head.svg); 
    background-size: cover;
    height: 664px;
    position: relative;
    width: 100%;
   
}

.container-header {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.big-text-head {
margin-top: 15%;
font-weight: bold;
font-size: 144px;
line-height: 176px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}


.button-style {
margin-top: 40px;
width: 168px;
height: 48px;
background: #FFFFFF;
font-weight: 600;
font-size: 18px;
line-height: 22px;
text-align: center;
text-transform: uppercase;
color: #3F3F3F;
border: none;
outline: none;
}


.dot {
width: 10px;
height: 10px;
left: 706px;
top: 694px;
border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 20px;
margin-right:8px;
}

.dot.active {
    background: #FFFFFF;
}

.place-for-dots {
margin-top: 40px;
display: flex;
}


.section1 {
    display: flex;
    margin-top: 30px;
}

.left-side-sec1 {
    background-image: url(Women.svg); 
    background-size: cover;
    height: 664px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
  justify-content: center;
    margin-right: 30px;
}


.right-side-sec1 {
   background-image: url(Man.svg); 
    background-size: cover;
    height: 664px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.padding-content {
    align-self: flex-end;
    margin-bottom: 90px;
}

.h2 {
margin-top: 90px;
font-weight: 600;
font-size: 48px;
line-height: 59px;
text-align: center;
text-transform: uppercase;
color: #3F3F3F;
}


.section2 {
    display: flex;
    margin-top: 30px;
   
}

.left-side-sec2 {
    background-image: url(women2.svg); 
    background-size: cover;
    height: 664px;
    position: relative;
    
    width: 100%;
    display: flex;
    align-items: center;
  justify-content: center;
    margin-right: 30px;
}


.right-side-sec2 {
   background-image: url(man2.svg); 
    background-size: cover;
    height: 664px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 {
    margin-top:90px;
    background-image: url(about-bg.svg); 
    background-size: cover;
    height: 664px;
    position: relative;
    width: 100%;
   
}

.section3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
}

.content-sec3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    position: relative;
    padding-top: 90px;
}

.title-sec3 {
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 59px;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 60px;
text-align: center;
}

.desc-sec3 {
font-family: Roboto;
max-width: 945px;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;
text-transform: capitalize;
color: #FFFFFF;
}

.center-button {
text-align: center;
}