:root {
  --orange-color: #708998;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #e0e0e0;
  position: relative;
}

.bg-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
  background-image: url(./img/bg.jpg);
  background-position: 40% 50%;
}

.bg-header::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 300px;
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 28%,
    rgba(224, 224, 224, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 28%,
    rgba(224, 224, 224, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 28%,
    rgba(224, 224, 224, 1) 100%
  );
}

.bg-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px;
  background-image: url(./img/bg.jpg);
  background-position: 40% 80%;
}

.bg-footer::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 300px;
  background: -webkit-linear-gradient(
    bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 28%,
    rgba(224, 224, 224, 1) 100%
  );
  background: -o-linear-gradient(
    bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 28%,
    rgba(224, 224, 224, 1) 100%
  );
  background: -ms-linear-gradient(
    bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 28%,
    rgba(224, 224, 224, 1) 100%
  );
}

main {
  max-width: 1200px;
  background-color: #fff;
  border: solid 1px #e5e5e5;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #dadada;
  position: relative;
  z-index: 10;
}

header {
  padding-top: 250px;
  position: relative;
}

.container-for-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1200px;
  height: 60px;
  background-color: #1b1b1b;
}

.left-side-header-text {
  font: bold 18px/60px "Roboto";
  color: #fff;
  margin: 0 20px 0 20px;
  text-transform: uppercase;
}

.left-side-header-text span {
  color: var(--orange-color);
}

header nav ul {
  display: flex;
}

header nav ul li {
  text-decoration: none;
  list-style-type: none;
}

header nav ul li a {
  color: rgb(141, 141, 141);
  text-decoration: none;
  padding: 20px 20px 20px 20px;
  transition: all 0.3s;
  font-weight: bold;
}

header nav ul li a:hover {
  background-color: rgb(141, 141, 141, 0.1);
  color: #fff;
}

.section-title {
  font-size: 25px;
  font-weight: 800;
  color: #3b3b3b;
  margin: 30px 30px 0px 30px;
}

.container-for-news-informer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 30px 0px 30px;
}

.item-news {
  width: 31.5%;
  height: 400px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.item-news:hover::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.item-news:nth-child(1) {
  width: 48.7%;
}

.item-news:nth-child(2) {
  width: 48.7%;
}

.item-news:nth-child(6) {
  width: 100%;
}

.item-news-title-info-line {
  color: #fff;
  font-size: 15px;
  z-index: 1;
}

.item-news-title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  z-index: 1;
  margin-top: 20px;
}

.item-news-add-date {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 6px;
  font-size: 12px;
  border-radius: 2px;
}

.footer {
  padding-bottom: 250px;
  font-size: 13px;
  text-align: center;
  color: #7a7a7a;
  position: relative;
  z-index: 1;
}

.footer-container {
  padding: 20px 30px 30px 30px;
  max-width: 1200px;
  margin: auto;
  background-color: #1b1b1b;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
  flex-wrap: wrap;
}

.footer-menu::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #292929;
}

.footer-menu-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-footer-menu-column {
  color: #e5e5e5;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer-menu-column ul li a {
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
  transition: all 0.3s;
}

.footer-menu-column ul li a:hover {
  opacity: 1;
}

.footer-menu-column ul li {
  margin-bottom: 5px;
}

.footer-menu-column ul {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #bebebe;
  align-items: flex-start;
}

.toggle-button {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #e5e5e5;
  border-radius: 10px;
}

.video-informer-section {
  background-color: #413d3d;
  padding-bottom: 0px;
}

.video-informer-section-title {
  font-size: 25px;
  font-weight: 800;
  color: #ffffff;
  padding: 30px 30px 0px 30px;
}

.container-for-video-informer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 30px 0px 30px;
}

.video-informer-item {
  width: 31.5%;
  position: relative;
  cursor: pointer;
  background-position: center;
  margin-bottom: 30px;
}

.video-informer-item img {
  width: 100%;
  height: 100%;
}

.video-informer-item:hover::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.video-informer-title {
  color: #fff;
  font-weight: 700;
  margin-top: 5px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
}

.video-informer-time {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  z-index: 10;
}

.item-article {
  width: 31.5%;
  height: 400px;
  margin-bottom: 30px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.item-article-title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  z-index: 10;
}

.item-article-title-info-line {
  color: #fff;
  font-size: 15px;
  margin-bottom: 20px;
  z-index: 10;
}

.item-article-title-info-line {
  display: flex;
  justify-content: space-between;
}

.item-article-short-message {
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: #fff;
  font-size: 15px;
  z-index: 10;
}

.item-article:hover::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 1190px) {
  header {
    padding-top: 0px;
  }

  .container-for-header {
    padding-left: 10px;
    padding-right: 10px;
  }

  .container-for-news-informer {
    display: flex;
  }

  .item-article {
    width: 31.2%;
  }

  .item-news {
    width: 31.2%;
    height: 300px;
  }

  .item-news:nth-child(1) {
    width: 31.2%;
  }

  .item-news:nth-child(2) {
    width: 31.2%;
  }

  .item-news:nth-child(6) {
    width: 31.2%;
  }

  .footer {
    padding-bottom: 0px;
  }
}

@media (max-width: 876px) {
  .item-news {
    width: 48.1%;
    height: 250px;
  }

  .item-news:nth-child(1) {
    width: 48.1%;
  }

  .item-news:nth-child(2) {
    width: 48.1%;
  }

  .item-news:nth-child(6) {
    width: 48.1%;
  }

  .item-news:nth-child(9) {
    width: 100%;
  }

  .item-article {
    width: 48.1%;
  }
  .item-article:nth-child(3) {
    width: 100%;
  }
}

@media (max-width: 686px) {
  .section-title {
    margin: 30px 30px 0px 20px;
  }

  .container-for-header {
    height: 100%;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .left-side-header-text {
    margin: 0 20px 0 10px;
  }

  .container-for-header {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav ul {
    margin-top: 0px;
  }

  header nav ul li {
    margin-top: 10px;
    margin-bottom: 21px;
  }

  header nav ul li a {
    margin-left: 10px;
    margin-top: 10px;
    padding: 0px 0px 0px 0px;
  }

  header nav ul li a:hover {
    background-color: rgb(141, 141, 141, 0);
    color: #fff;
  }

  .navbar-links.active {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  main {
    margin: auto;
    max-width: 1200px;
    background-color: #fff;
    border: solid 1px #e5e5e5;
  }

  .left-side-header-sub-text {
    font-size: 12px;
  }
  .toggle-button {
    top: 20px;
    right: 20px;
    width: 25px;
    height: 21px;
  }
  .container-for-video-informer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 20px 0px 20px;
  }

  .video-informer-item {
    width: 100%;
    margin-bottom: 20px;
  }

  .item-article {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
  }

  .container-for-news-informer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 20px 0px 20px;
  }

  .item-news {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
  }

  .item-news:nth-child(1) {
    width: 100%;
  }

  .item-news:nth-child(2) {
    width: 100%;
  }

  .item-news:nth-child(6) {
    width: 100%;
  }

  .item-news:nth-child(9) {
    width: 100%;
  }
  .footer-menu-column {
    width: 250px;
  }
  .footer-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
  }
}
