@font-face {
  font-family: "GothamPro";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/GothamProLight.woff) format("woff");
}

@font-face {
  font-family: "GothamPro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/GothamProRegular.woff) format("woff");
}

@font-face {
  font-family: "GothamPro";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/GothamProMedium.woff) format("woff");
}

@font-face {
  font-family: "GothamPro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/GothamProBold.woff) format("woff");
}

@font-face {
  font-family: "GothamPro";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/GothamProBlack.woff) format("woff");
}

body {
  font-family: GothamPro;
  font-weight: 400;
  background: #fff;
}

b {
  font-weight: 900;
}

b.color {
  color: #f79900;
}

.open-menu {
  position: absolute;
  right: 15px;
  display: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  color: #000000;
}

@media (max-width: 1100px) {
  .open-menu {
    display: block;
  }
}

.section-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 120%;
  text-transform: uppercase;
  color: #333333;
}

@media (max-width: 700px) {
  .section-title {
    font-size: 38px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .section-title {
    font-size: 30px;
  }
}

.container {
  max-width: 1220px;
  margin: auto;
  padding: 0 15px;
}

.header {
  background: #ffffff;
}

.header__logo {
  padding: 22px 0;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1100px) {
  .menu {
    display: none;
  }
}

.menu__item {
  padding: 0 64px;
}

@media (max-width: 1100px) {
  .menu__item {
    padding: 20px 40px;
  }
}

.menu__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  color: #000000;
}

.menu.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0;
  top: 80px;
  z-index: 10;
  background: white;
}

.slider-main__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 800px;
}

.slider-main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 620px;
  margin: 0 0 15px 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 120%;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .slider-main__title {
    font-size: 52px;
  }
}

@media (max-width: 700px) {
  .slider-main__title {
    font-size: 42px;
  }
}

.slider-main__sub-title {
  font-size: 54px;
}

@media (max-width: 700px) {
  .slider-main__sub-title {
    font-size: 32px;
  }
}

.slider-main__tag {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 30px;
  margin: 0 0 38px 0;
  font-size: 24px;
  line-height: 112.7%;
  color: #070508;
  background: #f79900;
}

.slider-main__description {
  max-width: 533px;
  font-size: 14px;
  line-height: 160%;
  color: #ffffff;
}

.slider-main__background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-main__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  z-index: 10;
}

.slider-main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
}

.slider-main ul.slick-dots {
  position: absolute;
  bottom: 26px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-main ul.slick-dots li {
  font-size: 0;
}

.slider-main ul.slick-dots li:not(:last-child) {
  margin: 0 20px 0 0;
}

.slider-main ul.slick-dots li button {
  width: 13px;
  height: 13px;
  padding: 0;
  background: black;
  border: 2px solid #575757;
  border-radius: 50%;
}

.slider-main ul.slick-dots li.slick-active button {
  background: #f79900;
}

.section1 {
  padding: 90px 0;
}

.section1__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1200px) {
  .section1__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section1__illustration {
  width: 100%;
  max-width: 473px;
}

.section1__content {
  max-width: 614px;
}

@media (max-width: 1200px) {
  .section1__content {
    margin: 50px 0 0 0;
  }
}

.section1__title {
  margin: 0 0 35px 0;
}

.section1__description {
  font-size: 18px;
  line-height: 100%;
  color: #7d7d7d;
}

.cards__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1100px) {
  .cards__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 299px;
  padding: 58px 36px 45px 36px;
  background: #333333;
}

.card:nth-child(2n) {
  background: #f79900;
}

@media (max-width: 1100px) {
  .card:nth-child(1n) {
    background: #f79900;
  }
  .card:nth-child(3n - 1) {
    background: #333333;
  }
  .card:nth-child(4n - 1) {
    background: #333333;
  }
}

.card__title {
  margin: 0 0 20px 0;
  font-weight: 900;
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
}

.card__description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  padding: 0 0 15px 0;
  margin: 0 0 20px 0;
  font-size: 12px;
  line-height: 140%;
  color: #ffffff;
  border-bottom: solid 1px white;
}

.card__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  font-size: 14px;
  line-height: 140%;
  text-transform: uppercase;
  color: #ffffff;
}

.card__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background: white;
}

.section2 {
  padding: 90px 0;
}

.section2__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1100px) {
  .section2__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1100px) {
  .section2__content {
    margin: 0 0 40px 0;
  }
}

.section2__title {
  margin: 0 0 30px 0;
}

.section2__description {
  max-width: 670px;
  font-size: 14px;
  line-height: 190%;
  color: #000000;
}

.section2__img {
  width: 100%;
  max-width: 472px;
}

.blocks {
  position: relative;
}

.blocks::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65%;
  background: url(img/blocks-bg.jpg);
  background-position: 0% 66%;
  background-size: 1900px;
}

.blocks::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65%;
  background: black;
  opacity: 0.5;
}

.blocks__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  position: relative;
  z-index: 10;
}

@media (max-width: 1100px) {
  .blocks__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 620px) {
  .blocks__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 300px;
  background: #ffffff;
  border: 15px solid #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.block:nth-child(2n + 1) {
  border: 15px solid #f79900;
}

.block:nth-child(2n + 1) .block__count {
  color: #f79900;
}

@media (max-width: 1100px) {
  .block {
    width: 45%;
  }
}

@media (max-width: 620px) {
  .block {
    width: 100%;
    max-width: 300px;
  }
}

.block__count {
  margin: 0 0 13px 0;
  font-weight: 900;
  font-size: 96px;
  line-height: 92px;
  text-align: center;
  color: #333333;
}

.block__description {
  max-width: 190px;
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  color: #000000;
}

.section3 {
  padding: 90px 0;
}

.section3__title {
  text-align: center;
}

@media (max-width: 500px) {
  .section3__title {
    margin-bottom: 30px;
  }
}

.slider-second__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1100px) {
  .slider-second__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.slider-second__left {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 574px;
          flex: 0 0 574px;
  min-height: 543px;
}

@media (max-width: 500px) {
  .slider-second__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    min-height: 343px;
  }
}

@media (max-width: 730px) {
  .slider-second__left {
    width: 100%;
  }
}

.slider-second__left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.54)), to(rgba(0, 0, 0, 0.54)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54));
  z-index: 1;
}

.slider-second__title {
  position: relative;
  max-width: 417px;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 116.7%;
  text-align: center;
  color: #ffffff;
  z-index: 2;
}

@media (max-width: 500px) {
  .slider-second__title {
    font-size: 28px;
  }
}

.slider-second__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-second__right {
  position: relative;
  max-width: 574px;
  margin: 0 0 0 38px;
  padding: 90px 50px 150px 50px;
  background: #ffffff;
  border: 15px solid #f79900;
}

@media (max-width: 1100px) {
  .slider-second__right {
    max-width: 100%;
    margin: 38px 0 0 0;
  }
}

@media (max-width: 500px) {
  .slider-second__right {
    margin: 18px 0 0 0;
    padding: 30px 30px 160px 30px;
  }
}

.slider-second__descripton {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #000000;
}

.slider-second__all-block {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 24px 24px 17px 46px;
  font-weight: bold;
  font-size: 14px;
  line-height: 142.7%;
  color: #ffffff;
  background: #f79900;
}

.slider-second__all-title {
  position: relative;
}

.slider-second__all-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background: white;
  opacity: 0.5;
}

.slider-second__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 55px;
  bottom: 55px;
}

@media (max-width: 500px) {
  .slider-second__arrows {
    left: 30px;
    bottom: 65px;
  }
}

.slider-second__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid #7d7d7d;
  cursor: pointer;
}

.slider-second__arrow img {
  width: 12px;
  height: 24px;
}

.slider-second__prev {
  margin: 0 20px 0 0;
}

@media (max-width: 500px) {
  .slider-second__dots {
    display: none;
  }
}

.slider-second__dots .slick-dots {
  margin: 24px 0 34px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-second__dots .slick-dots li button {
  font-size: 18px;
  line-height: 142.7%;
  color: #000000;
  background: none;
  border: none;
}

.slider-second__dots .slick-dots li {
  position: relative;
}

.slider-second__dots .slick-dots li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  display: none;
  width: 100%;
  height: 5px;
  background: #f79900;
}

.slider-second__dots .slick-dots li:not(:last-child) {
  margin: 0 80px 0 0;
}

@media (max-width: 1100px) {
  .slider-second__dots .slick-dots li:not(:last-child) {
    margin: 0 20px 0 0;
  }
}

.slider-second__dots .slick-dots li.slick-active button {
  color: #f79900;
}

.slider-second__dots .slick-dots li.slick-active::after {
  display: block;
}

.section4 {
  padding-bottom: 90px;
}

.section4__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1100px) {
  .section4__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section4__img {
  width: 100%;
}

.section4__title {
  max-width: 519px;
  margin: 0 0 23px 0;
}

@media (max-width: 1100px) {
  .section4__title {
    text-align: center;
    margin: auto;
    margin-bottom: 23px;
  }
}

.section4__description {
  max-width: 517px;
  font-size: 14px;
  line-height: 140%;
  color: #000000;
}

@media (max-width: 1100px) {
  .section4__description {
    text-align: center;
    margin: auto;
  }
}

.section4__img {
  max-width: 674px;
}

.section4__ {
  max-width: 670px;
}

.section4__right {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  max-width: 472px;
}

@media (max-width: 1100px) {
  .section4__right {
    margin: 40px 0 0 0;
  }
}

.feedback-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 23px 0;
}

.feedback-form__item:last-child {
  margin: 0;
}

.feedback-form__item--button {
  margin: 40px 0 30px 0;
}

.feedback-form__label {
  margin: 0 0 12px 0;
  font-size: 16px;
  line-height: 148.2%;
  color: #000000;
}

.feedback-form__input {
  padding: 21px 27px;
  background: #ffffff;
  border: 3px solid #bbbbbb;
}

.feedback-form__button {
  padding: 20px;
  font-size: 16px;
  line-height: 148.2%;
  text-align: center;
  color: #ffffff;
  background: #f79900;
  border: none;
}

.feedback-form__description {
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #000000;
}

.footer {
  padding: 90px 0;
  position: relative;
  background: url(img/footer-bg.jpg);
  background-position: 39% 35%;
  background-size: cover;
}

.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
}

.footer__container {
  position: relative;
  z-index: 1;
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 900px) {
  .menu-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .menu-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.menu-footer__block {
  margin: 0 0 45px 0;
}

.menu-footer__block-title {
  margin: 0 0 24px 0;
  font-weight: 900;
  font-size: 18px;
  line-height: 148.2%;
  color: #ffffff;
}

.menu-footer__item {
  margin: 0 0 23px 0;
}

.menu-footer__link {
  font-size: 14px;
  color: #ffffff;
}

.phone-links__item {
  margin: 0 0 20px 0;
}

.phone-links__link {
  font-weight: 900;
  font-size: 18px;
  color: #ffffff;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-links__item {
  margin: 0 7px 0 0;
}
/*# sourceMappingURL=style.css.map */