@font-face {
  font-family: graf;
  src: url(/img/graffiti.ttf);
}

@font-face {
  font-family: "stalker";
  font-weight: normal;
  src: url(/img/graffiti.woff);
}

body {
  font-family: stalker;
  background-color: #222;
  background: url(https://thebest-studio.ucoz.ru/img/back_fon.jpg);
  color: rgb(136, 136, 136);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper_header-img {
  position: relative;
  width: 100%;
  max-width: 900px;
  height: 250px;
  margin: auto;
}

.wrapper_header-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-border {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 100%;
  background: url(/img/right-border.jpg);
}

.left-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 100%;
  background: url(/img/right-border.jpg);
  transform: rotate(180deg);
}

.top-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background: url(/img/top-border.jpg);
}

.bottom-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background: url(/img/top-border.jpg);
  transform: rotate(180deg);
}

.container {
  max-width: 1300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.block {
  max-width: 350px;
}

.block__header {
  position: relative;
  height: 53px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: stalker;
  padding: 0 30px 0 0;
  color: #a57d33;
  font-size: 16px;
}

.block__header-left-top {
  position: absolute;
  left: 0;
  width: 95px;
  height: 100%;
  background: url(/img/header-left-top.jpg);
  z-index: -1;
}

.block__header-center-top {
  position: absolute;
  left: 95px;
  width: 100%;
  height: 100%;
  background: url(/img/header-center-top.jpg);
  z-index: -1;
}

.block__header-right-top {
  position: absolute;
  top: 0;
  right: 0;
  width: 39px;
  height: 100%;
  background: url(/img/header-right-top.jpg);
  z-index: -1;
}

.block__content {
  position: relative;
}

.block__content-text {
  padding: 5px 25px 25px 25px;
  line-height: 21px;
}

.block__content-left {
  position: absolute;
  left: 0;
  width: 28px;
  height: 100%;
  background: url(/img/left-content-block.jpg);
  z-index: -1;
}

.block__content-center {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/img/center-content-block.jpg);
  z-index: -2;
}

.block__content-right {
  position: absolute;
  right: 0;
  width: 28px;
  height: 100%;
  background: url(/img/left-content-block.jpg);
  z-index: -1;
  transform: rotate(180deg);
}

.block__foter {
  position: relative;
}

.block__foter-left-bottom {
  position: absolute;
  width: 28px;
  height: 16px;
  left: 0;
  bottom: 0;
  background: url(/img/block-footer-left-bottom.jpg);
  z-index: 1;
}

.block__foter-center-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 16px;
  background: url(/img/block-footer-center.jpg);
}

.block__foter-right-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 28px;
  height: 16px;
  background: url(/img/block-footer-right.jpg);
  z-index: 1;
}

.block-left .block__header {
  justify-content: flex-start;
  padding: 0 0 0 30px;
}

.block-left .block__header-left-top {
  position: absolute;
  left: 0;
  width: 28px;
  height: 100%;
  background: url(/img/header-left-top-left-block.jpg);
  z-index: -1;
}

.block-left .block__header-center-top {
  position: absolute;
  left: 28px;
  width: 100%;
  height: 100%;
  background: url(/img/header-center-top.jpg);
  z-index: -1;
}

.block-left .block__header-right-top {
  position: absolute;
  top: 0;
  right: 0;
  width: 95px;
  height: 100%;
  background: url(/img/header-right-top-left-block.jpg);
  z-index: -1;
}

.content-center {
  width: 100%;
  margin: 0 10px;
}

.news-item {
  width: 100%;
}

.news-item__header {
  color: #cc9933;
  font-weight: 600;
  padding: 5px 10px;
  background: url(/img/news-title-bg.jpg);
  border: dashed 1px #202020;
}

.news-item__content {
  background: url(/img/news-bg.jpg);
  border-left: dashed 1px #202020;
  border-right: dashed 1px #202020;
  border-bottom: dashed 1px #202020;
}

.news-item__content p {
  padding: 10px;
}

.news-item__meta {
  font-size: 13px;
  padding: 5px 10px;
  border: dashed 1px #202020;
}

.menu-link {
  display: inline-flex;
  padding: 10px;
  background: url(/img/nav-button.jpg);
  background-size: 300px;
  border: solid 1px #202020;
  font-family: stalker;
  color: #fff;
  text-decoration: none;
}
