/*
reset styles +
color +
background-color +
background-image
font +
line-height +
letter-spacing +
box-shadow
text-shadow
 */

html, body {
    /*
    font-family
    font-size
    color
    line-height
    letter-spacing
     */
    line-height: 19px;
    height: 100vh;
    background-color: #ffffff;
    color: #151F32;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

header{
    height: 75px;
    vertical-align: middle;
    padding-top: 25px;
    padding-left: 90px;
    padding-right: 90px;
    box-sizing: border-box;
    }



.wrapper{
    max-width: 1160px;
    width: 100%;
    background-color: #fafafa;
    height: 720px;
    margin: auto;
}

.middle-menu-bar, .right-menu-bar{
    display: inline-block;
}

.middle-menu-bar{
    width: calc(100% - 90px - 75px - 10px);
    text-align: center;
}

.right-menu-bar{
    width: 100px;
}

.right-menu-cart{
    width: 13px;
    height: auto;
}

.header-logo{
    width: 65px;
    height: auto;
}

.menu-link{
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.middle-menu-bar .menu-link{
    margin-right: 6.5%;
    margin-left: 6.5%;
}

.right-menu-link{
    margin-right: 35px;
}

.right-menu-cart-container{
    display: inline-block;
    padding-top: 2px;
}


.under-header {
    display: flex;
    justify-content: space-between;
}

.big-text {
margin:100px 0px 0px 100px; 
font-weight: 900;
font-size: 110px;
line-height: 132px;
}

.under-text-line {
background-color: #151F32;
display: block;
content: "";
height: 10px;
width: 20%;
margin-left: 8px;
}

.under-bit-text {
margin:200px 0px 0px 100px; 
font-weight: 500;
font-size: 12px;
width: 194px;
height: 66px;
}


.card-background {
width: 565px;
height: 492px;
margin-top: 50px;
background: #032F48 url(https://sergashs.github.io/cursor_serhii/verstka_maketa/img/background-card-right.svg);
}

.title-card {
padding: 90px 0px 25px 76px; 
font-weight: 900;
font-size: 28px;
line-height: 34px;
color: #FFFFFF;
}

.card-text {
padding: 0px 0px 0px 69px; 
width: 230px;
height: 34px;
font-weight: 500;
font-size: 12px;
align-items: center;
color: #FCD3AC;
}

.place-for-buttons {
 padding: 50px 0px 0px 69px; 
 display: flex;
 }

.buttom-next {
    margin-right: 20px;
}

.under-head-menu {
 display: flex;
 justify-content: space-between;
}


.under-head-menu{
text-align: left;
padding-top: 45px; 
}

.menu-link-und {
text-decoration: none;
font-style: normal;
font-weight: 900;
font-size: 22px;
color: #C2C2C2;
}


.under-head-menu .menu-link-und{
    margin-right: 5.9%;
    margin-left: 8.5%;
}



.button-start {
position: absolute;
width: 150px;
height: 48px;
left: 975px;
top: 506px;
background: #FFFFFF;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
font-weight: 885;
font-size: 17px;
display: flex;
align-items: center;
flex-direction: column;
}

.text-button {
    padding: 15px;
}



.button-controls {
position: absolute;
width: 51px;
height: 48px;
left: 925px;
top: 506px;
background: #032F48; 
}

.img-controls {
    padding: 15px;
}

nav a {
    display: inline-block;
    color:#032F48;
    line-height: 1;
    text-decoration:none;
    cursor: pointer;
}
nav a:after {
    background-color: #032F48;
    margin-top: 2px;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .4s ease-in-out;
    -moz--transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}
nav a:hover:after,
nav a:focus:after {
    width: 20%;
}
