/*
reset styles +
color +
background-color +
background-image
font +
line-height +
letter-spacing +
box-shadow
text-shadow
 */

html, body {
    /*
    font-family
    font-size
    color
    line-height
    letter-spacing
     */
    line-height: 19px;
    height: 100vh;
    background-color: #ffffff;
    color: #151F32;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

header{
    height: 75px;
    vertical-align: middle;
    padding-top: 25px;
    padding-left: 90px;
    padding-right: 90px;
    box-sizing: border-box;
    }



.wrapper{
    max-width: 1160px;
    width: 100%;
    background-color: #fafafa;
    height: 720px;
    margin: auto;
}

.middle-menu-bar, .right-menu-bar{
    display: inline-block;
}

.middle-menu-bar{
    width: calc(100% - 90px - 75px - 10px);
    text-align: center;
}

.right-menu-bar{
    width: 100px;
}

.right-menu-cart{
    width: 13px;
    height: auto;
}

.header-logo{
    width: 65px;
    height: auto;
}

.menu-link{
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

.middle-menu-bar .menu-link{
    margin-right: 6.5%;
    margin-left: 6.5%;
}

.right-menu-link{
    margin-right: 35px;
}

.right-menu-cart-container{
    display: inline-block;
    padding-top: 2px;
}


.under-header {
    display: flex;
    justify-content: space-between;
}



.under-header h1 {
margin:100px 0px 0px 100px; 
font-weight: 900;
font-size: 110px;
line-height: 132px;
color: #032F48;
}


.under-text-line {
background-color: #032F48;
display: block;
content: "";
height: 10px;
width: 20%;
margin-left: 8px;
}

.left-side-u-header p {
margin:200px 0px 0px 100px; 
font-weight: 500;
font-size: 12px;
width: 194px;
height: 66px;
}


.card-background {
width: 565px;
height: 492px;
margin-top: 50px;
background: #032F48 url(https://sergashs.github.io/cursor_serhii/verstka_maketa/img/background-card-right.svg);
}

.title-card {
padding: 90px 0px 25px 76px; 
font-weight: 900;
font-size: 28px;
line-height: 34px;
color: #FFFFFF;
}

.right-side-u-heder p {
padding: 0px 0px 0px 69px; 
width: 230px;
height: 34px;
font-weight: 500;
font-size: 12px;
align-items: center;
color: #FCD3AC;
}

.place-for-buttons {
 padding: 70px 0px 0px 69px; 
 display: flex;
 }

.buttom-next {
    margin-right: 20px;
}

.under-head-menu {
 display: flex;
 justify-content: space-between;
}


.under-head-menu{
text-align: left;
padding-top: 45px; 
}

.menu-link-und {
text-decoration: none;
font-style: normal;
font-weight: 900;
font-size: 22px;
color: #C2C2C2;
}


.under-head-menu .menu-link-und{
    margin-right: 5.9%;
    margin-left: 8.5%;
}



.right-side-u-heder button {
position: relative;
width: 130px;
height: 48px;
margin: -70px 0px 0px 0px;
background: #FFFFFF;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
font-weight: 885;
font-size: 17px;
display: flex;
align-items: center;
justify-content: center;
border: 0px;
cursor: pointer;
}


.right-side-u-heder button:hover {
    background: #78C9C0;
    color: #fff;
    transition: 0.5s;
}

.button-controls {
margin: 130px 0px 22px -51px;
position: relative;
width: 51px;
height: 48px;
background: #032F48; 
display: flex;
align-items: center;
justify-content: center;
}



nav a {
    display: inline-block;
    color:#032F48;
    line-height: 1;
    text-decoration:none;
    cursor: pointer;
}
nav a:after {
    background-color: #032F48;
    margin-top: 3px;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .4s ease-in-out;
    -moz--transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}
nav a:hover:after,
nav a:focus:after {
    width: 20%;
}

/* header eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeend*/

.container-ufter-header {
    max-width: 1160px;
    width: 100%;
    background-color: #fff;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.right-cu-btxt {
font-weight: 900;
font-size: 110px;
color: #032F48; 
}


.under-text {
font-style: normal;
font-weight: 900;
font-size: 18px;
color: #DDDFE0; 
    margin-top: 35px;
    margin-left: 29px;
}


.right-container-uh {
   margin-top: 255px;
}

.right-container-uh p{
width: 190px;
font-size: 12px;
color: #151F32;
margin-top:33px;
margin-left: 5px;
}

.right-container-uh button {
width: 139px;
height: 49px;
background: #032F48;
display: flex;
align-items: center;
justify-content: center;
margin-left: 5px;
margin-top: 33px;
font-weight: 900;
font-size: 17px;
color: #FFFFFF;
border: 0px;
cursor: pointer;
}

.right-container-uh button:hover {
background: #78C9C0;
color: #fff;
transition: 0.5s; 
}


.poloska1 {
width: 60px;
height: 0px;
margin-top: 440px;    
border: 5px solid #151F32;
}

.poloska2 {
width: 112px;
height: 0px;
border: 5px solid #032F48;   
margin-left: 90px;
margin-top: 50%;
}




.left-container-uh {
display: flex;  
flex-flow: row wrap;
font-weight: bold;
text-align: center;
width: 420px;
height: 420px;
margin-top:180px;
margin-left:180px;
  
}



.white-block {
width: 210px;
height: 210px;
background: #fff;
}


.first-block {
width: 210px;
height: 210px;
background: #F9BA51;
overflow: hidden;
}

.first-block2 {
width: 210px;
height: 210px;
background: #78C9C0;
 overflow: hidden;
}


.first-block3 {
width: 210px;
height: 210px;
background: #E75A31;
 overflow: hidden;
}

.tfb {
font-weight: 900;
font-size: 28px;
display: flex;
align-items: left;
color: #FFFFFF;
padding: 56px 0px 0px 18px;
}

.cufru{
position: relative;
font-weight: 900;
font-size: 110px;
line-height: 132px;
color: #fff;
padding-left: 46%;
padding-top: 20%;
opacity: 0.5;
}


.section-two-uh {
    max-width: 1160px;
    width: 100%;
    background-color: #fff;
    height: 100%;
    margin: auto;
    display: flex;
   justify-content: space-evenly;
}

.section-two-uh-right-btxt {
font-style: normal;
font-weight: 900;
font-size: 110px;
color: #151F32;
margin-bottom: 65px;
    
}

.section-two-uh-right {
position:relative;
margin-top: 165px;
}

.section-two-uh-right p {
width: 190px;
height: 66px;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 157.3%;
color: #151F32;  
margin-top: 33px;
margin-left: 5px;
}


.section-two-uh-right button {
width: 139px;
height: 49px;
background: #032F48;
display: flex;
align-items: center;
justify-content: center;
margin-left: 5px;
font-weight: 900;
font-size: 17px;
color: #FFFFFF;
border: 0px;
cursor: pointer;
}

.section-two-uh-right button:hover {
background: #78C9C0;
color: #fff;
transition: 0.5s; 
}

.b_statistic {
   
width: 442px;
height: 439.5px;
background: #032F48 url(/img/section_two_background.svg);
}