.MyPostItemHeader img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.MyPostItemHeader {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.MyPostItemAuthorName {
  color: var(--links);
  font-size: 13px;
  font-weight: 600;
  margin: 0 0 5px 10px;
}

.MyPostItemAuthorDate {
  margin-left: 10px;
  font-size: 12.5px;
  color: #656565;
}

.MyPostItemBody {
  font-size: 13px;
}
