.AddMyPostInput {
  width: 100%;
  border: none;
  transition: all 0.3s;
}
.AddMyPostInput:focus {
  padding: 0 0 20px 0;
  outline: none;
  border-bottom: solid 1px #ece7e7;
  transition: all 0.3s;
}

.button {
  margin-top: 15px;
  padding: 5px;
  cursor: pointer;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  background: var(--main-color);
}

/* post item */
