body {
  background: #21242d;
  color: #b8bdbe;
  padding: 20px;
  font-family: "Martel Sans", sans-serif;
  font-size: 25px;
}

h1 {
  color: #7ee28b;
  text-shadow: 0 0 10px rgb(126, 226, 139, 0.3);
}

b {
  color: #7ee28b;
  text-shadow: 0 0 10px rgb(126, 226, 139, 0.3);
}

strong {
  font-weight: bold;
}
