* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--temple-main-color);
}

:root {
  --temple-main-color: #db3742;
  --bg-body: #f4f4f4;
  --bg-block: #fff;
  --color-border: rgb(230, 230, 230);
  --color-text-description: rgb(75, 75, 75);
  --color-text-counter: rgb(139, 139, 139);
  --color-text-title: rgb(75, 75, 75);
  --block-swadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

/* var(--orange-color); */

body {
  font-family: "Roboto", "Open Sans", helvetica, arial, sans-serif;
  font-size: 15px;
  background-color: var(--bg-body);
  transition: ease-in 0.3s;
}

.header {
  background-color: var(--temple-main-color);
  transition: ease-in 0.3s;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header > .container {
  display: flex;
  max-width: 1140px;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: auto;
  color: #fff;
  padding: 20px;
  position: relative;
}

.header-logo-img {
  width: 40px;
  height: 40px;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo__text {
  font-weight: 600;
  font-size: 20px;
  margin: 0 0 0 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  text-decoration: none;
  color: rgb(248, 248, 248, 0.8);
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin: 0 0 0 20px;
}

.nav__link i {
  font-size: 20px;
  margin-right: 10px;
}

.nav__link:hover {
  color: rgb(248, 248, 248);
}

.main {
  padding: 80px 20px 20px 20px;
  display: flex;
  max-width: 1140px;
  margin: auto;
}

.article-block {
  background-color: var(--bg-block);
  max-width: 900px;
  border-radius: 3px;
  margin: 0 20px 20px 0;
  transition: ease-in 0.3s;
  box-shadow: var(--block-swadow);
}

.article-block__title {
  font-size: 20px;
  color: var(--color-text-title);
  padding: 20px 20px 0 20px;
  font-weight: 500;
  line-height: 25px;
}

.article-block__img {
  margin: 20px 0 20px 0;
}

.article-block__img img {
  width: 100%;
}

.article-block__description {
  padding: 0 20px 20px 20px;
  font-size: 15px;
  color: var(--color-text-description);
  line-height: 25px;
}

.counters-block {
  color: var(--color-text-counter);
  display: flex;
  justify-content: space-between;
  padding: 0 20px 20px 0;
}

.counters-block__left,
.counters-block__right {
  display: flex;
}

.counters-block__item {
  font-size: 14px;
  margin: 0 0 0 20px;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.counters-block__item:hover {
  color: var(--temple-main-color);
}

.counters-block__item__stat {
  margin-left: 5px;
}

.counters-block__item .fa {
  font-size: 19px;
}

.aside-block {
  background-color: var(--bg-block);
  width: 300px;
  box-shadow: var(--block-swadow);
  border-radius: 3px;
  transition: ease-in 0.3s;
  margin: 0 0 20px 0;
}

#changer-theme-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  padding: 20px;
  border-radius: 100%;
  color: var(--bg-block);
  background-color: var(--temple-main-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#changer-theme-icon:hover::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  color: var(--bg-body);
}

.changer-theme {
  display: none;
  width: 250px;
  padding: 20px;
  background-color: var(--bg-block);
  position: fixed;
  bottom: 90px;
  right: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  border: solid 1px var(--bg-body);
}

.changer-theme::after {
  position: absolute;
  content: "";
  background-color: var(--bg-block);
  width: 20px;
  height: 20px;
  right: 20px;
  bottom: -11px;
  transform: rotate(45deg);
  border-bottom: solid 1px var(--bg-body);
  border-right: solid 1px var(--bg-body);
}

.changer-theme.open {
  display: block;
}

.first,
.second,
.default_color,
.fourth,
.fifth {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
}

.default_color {
  background-color: #db3742;
}
.first {
  background-color: #2776aa;
}
.second {
  background-color: #719f62;
}
.fourth {
  background-color: #b58ab3;
}
.fifth {
  background-color: #bd9f99;
}

.changer-theme__colors {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.changer-theme__text {
  color: var(--color-text-title);
  margin: 0 0 20px 0;
  font-weight: 500;
}

.changer-theme__dark-mode {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.toggle-button {
  display: none;
  color: rgb(248, 248, 248, 0.6);
  font-size: 23px;
}

.toggle {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.toggle:before {
  content: "";
  position: relative;
  top: 3px;
  left: 3px;
  width: 34px;
  height: 14px;
  display: block;
  background: var(--color-text-counter);
  border-radius: 8px;
  transition: 0.2s ease;
  opacity: 1;
}
.toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  display: block;
  background: var(--bg-body);
  border-radius: 10px;
  transition: all 0.2s ease;
}
.toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: var(--temple-main-color);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

#darkmode:checked + .toggle:before {
  background: var(--color-border);
}
#darkmode:checked + .toggle span {
  background: var(--temple-main-color);
  transform: translateX(20px);
  transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), 0.15s ease;
  /* box-shadow: 0 3px 8px var(--temple-main-color); */
}
#darkmode:checked + .toggle span:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.4s ease;
}

.comment__informer-item {
  padding: 15px 20px 15px 20px;
  cursor: pointer;
}

.comment__informer-item:hover {
  background-color: var(--temple-main-color);
}

.comment__informer-item:hover .comment__informer-item__user-name {
  color: var(--bg-block);
}

.comment__informer-item:hover .comment__informer-item__user-message {
  color: var(--bg-block);
}

.comment__informer-item:hover .comment__informer-item__date {
  color: var(--bg-block);
}

.comment__informer-item:last-child {
  border-bottom: none;
}

.comment__informer-item:last-child:hover {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.comment__informer-item-left-side img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 0 20px 0 0;
}

.comment__informer-item-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 20px;
}

.comment__informer-item__user {
  display: flex;
}

.comment__informer-item__user-name {
  font-size: 14px;
  font-weight: bold;
  color: var(--color-text-description);
}

.comment__informer-item__date {
  color: var(--color-text-description);
  font-size: 13px;
  opacity: 0.6;
}

.comment__informer-item__user-message {
  margin: 0 0 10px 0;
  font-size: 14px;
  color: var(--color-text-description);
  line-height: 20px;
}

.aside-block__title {
  text-align: center;
  padding: 20px 20px 20px 20px;
  font-size: 14px;
  font-weight: bold;
  color: var(--color-text-title);
  text-transform: uppercase;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.main__left-side-container {
  margin: 0px 20px 0 0;
  display: flex;
  flex-direction: column;
  min-width: 145px;
  display: block;
}

.main__menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: fixed;
  top: 80px;
}

.footer {
  position: fixed;
  bottom: 10px;
  display: flex;
  flex-direction: column;
}

.footer__link {
  margin: 0 0 10px 0;
  color: var(--color-text-title);
}

.main__menu__item {
  padding: 10px;
  display: block;
  margin: 0 0 0 -10px;
  width: 155px;
  color: var(--color-text-title);
}

.main__menu__item:hover {
  background-color: var(--bg-block);
  border-radius: 3px;
  color: var(--temple-main-color);
}

.header__container-logo-plus-search {
  display: flex;
}

.header__search-container {
  margin: 0 0 0 50px;
  border-radius: 3px;
  position: relative;
  display: flex;
  align-items: center;
}
.header__search {
  border: none;
  background: none;
  background-color: var(--bg-block);
  border-radius: 3px;
  padding: 10px 20px 10px 35px;
  opacity: 0.7;
}
.header__search-icon {
  color: var(--temple-main-color);
  position: absolute;
  left: 10px;
  z-index: 1;
}

.header__search:focus {
  background-color: var(--bg-block);
  opacity: 1;
  color: var(--color-text-title);
}

.search-icon {
  display: none;
}

.button-left-menu-open {
  display: none;
}

#left-menu[type="checkbox"] {
  display: none;
}

.aside-block__popular-society {
  padding: 0 20px 20px 20px;
}

.aside-block__popular-society_img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 3px;
  margin: 0 20px 0 0;
}

.aside-block__popular-society_lines {
  display: flex;
}

.aside-block__popular-society_line {
  line-height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aside-block__popular-society_title {
  font-weight: 500;
  font-size: 14px;
  color: var(--temple-main-color);
}

.aside-block__popular-posts {
  font-size: 13px;
  color: var(--color-text-description);
  opacity: 0.9;
}

.aside-block__popular-society_subscribe-button {
  background-color: var(--temple-main-color);
  border: none;
  font-weight: bold;
  font-size: 14px;
  color: var(--bg-block);
  padding: 10px;
  border-radius: 3px;
  margin: 20px 0 0 0;
}

.aside-block__mail_subscribe {
  padding: 20px;
  cursor: pointer;
  color: var(--color-text-title);
}

.aside-block__mail_subscribe_about {
  display: flex;
  align-items: center;
}

.aside-block__mail_subscribe_about i {
  font-size: 25px;
  margin: 0 20px 0 0;
}

.aside-block__mail_subscribe_about-text {
  font-size: 14px;
  line-height: 20px;
}

.aside-block__mail_subscribe:hover {
  background-color: var(--temple-main-color);
  color: var(--bg-block);
  border-radius: 3px;
}

.aside-block__activity-society {
  padding: 0px 20px 20px 20px;
}

.aside-block__activity-society-item-img {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  object-fit: cover;
  margin: 0 10px 0 0;
}

.aside-block__activity-society-item {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}

.aside-block__activity-society-item:last-child {
  margin: 0;
}

.aside-block__activity-society-item__title {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-text-title);
}

.aside-block__statistic {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  color: var(--color-text-title);
}

.aside-block___statistic-line-digits {
  font-size: 25px;
  font-weight: 600;
}

.aside-block___statistic-line-icon-description {
  font-size: 14px;
  margin: 10px 0 0 0;
}

.aside-block___statistic-line {
  display: flex;
  margin: 20px 20px 0 0;
  justify-content: space-between;
}

.aside-block___statistic-item:last-child {
  margin: 0 0 0 0;
}

.aside-block___statistic-line:first-child {
  margin: 0 20px 0 0;
}

.aside-block___statistic-item {
  margin: 0 20px 0 0;
}

.hr {
  margin: 20px 0 0px 0;
  height: 1px;
  width: 100%;
  background-color: var(--bg-body);
}

@media (max-width: 900px) {
  .main__left-side-container {
    display: none;
    opacity: 0.5;
  }
  .button-left-menu-open {
    display: block;
  }
  .button-left-menu-open {
    background-color: var(--bg-body);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
  }
  .icon-left-menu {
    color: var(--color-text-title);
  }
  .main__left-side-container.open {
    display: block;
    transition: ease-in 0.5s;
    opacity: 1;
    position: fixed;
    background-color: var(--bg-body);
    height: 100vh;
    top: 60px;
    width: 210px;
    left: 0;
    z-index: 1000;
  }
  .main__menu {
    left: 20px;
  }
  .footer {
    left: 20px;
  }
  .header__search-container {
    display: none;
  }

  .search-icon {
    display: block;
  }

  .header__search-container.open {
    display: block;
    position: absolute;
    top: 60px;
    width: 100%;
    margin: 0;
    left: 0;
    background-color: var(--temple-main-color);
    padding: 20px;
    border-radius: 0;
  }
  .header__search {
    width: 100%;
  }
  .header__search-icon {
    left: 30px;
    top: 30px;
  }
  .bg {
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: fixed;
    opacity: 0.5;
    left: 210px;
    top: 60px;
  }

  .nav__link {
    margin: 0 0 0 20px;
  }
  .nav__link i {
    margin: 0;
  }
  .nav__link__text {
    display: none;
  }
}

@media (max-width: 700px) {
  .main {
    flex-wrap: wrap;
  }
  .article-block {
    margin: 0 0 20px 0;
  }
  aside {
    width: 100%;
  }
  .aside-block {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .main {
    padding: 60px 0 20px 0;
  }
}

@media (max-width: 450px) {
  .counters-block {
    flex-direction: column;
  }
  .counters-block__left,
  .counters-block__right {
    display: flex;
    justify-content: space-between;
  }
  .counters-block__left {
    margin: 0 0 10px 0;
  }
}
