* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #2e2e2e;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.section1__container {
  padding: 100px 0 0 0;
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  margin: auto;
}

.logo {
  margin: 0 0 40px 0;
}

.logo img {
  max-width: 300px;
}

.section1__item-list {
  margin: 0 0 20px 15px;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.section1__item-list::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: #2e2e2e;
  left: -15px;
  border-radius: 100%;
}

.button {
  color: #ff8d3c;
  text-transform: uppercase;
  border: solid 1px #ff8d3c;
  padding: 10px 40px;
  border-radius: 20px;
  background: none;
  font-size: 20px;
}

.button:hover {
  background: #ff8d3c;
  color: #fff;
}

.section1_right img {
  max-width: 700px;
  width: 100%;
}

.how-it-work {
  margin: 100px 0 0 0;
  counter-reset: section;
}

.how-it-work__title {
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 60px 0;
}

.how-it-work__item {
  margin: 0 0 0 10px;
  border-left: solid 1px #ff8d3c;
  padding: 0 0 40px 80px;
  position: relative;
}

.how-it-work__item:last-child {
  border: none;
  padding: 0 0 0 80px;
}

.how-it-work__item::before {
  counter-increment: section;
  content: "" counter(section) ". ";
  position: absolute;
  top: -10px;
  left: -18px;
  font-size: 38px;
  color: #ff8d3c;
  background: #fff;
  padding: 10px;
  font-weight: bold;
}

.how-it-work__item:nth-child(5):before {
  counter-increment: section;
  content: "" counter(section) ". ";
  position: absolute;
  top: -10px;
  left: -25px;
  font-size: 38px;
  color: #ff8d3c;
  background: #fff;
  padding: 10px;
  font-weight: bold;
}

.how-it-work__item--title {
  font-size: 30px;
  margin: 0 0 20px 0;
}

.how-it-work__item--description {
  font-size: 18px;
}

.where-ad {
  padding: 0 0 40px 0;
}

.where-ad__title {
  font-size: 35px;
  font-weight: 600;
  margin: 100px 0 60px 0;
}

.where-ad__app {
  display: flex;
  justify-content: space-between;
  margin: 0 0 40px 0;
}

.where-ad__item--img {
  max-width: 500px;
}

.where-ad__tabs {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  border-right: solid 1px #ff8d3c;
  margin: 0 40px 0 0;
}

.where-ad__tab {
  color: #2e2e2e;
  font-size: 25px;
  align-self: flex-end;
  margin: 0 0 20px 0;
  cursor: pointer;
  position: relative;
}

.place-fot-button {
  display: flex;
  justify-content: center;
}

.where-ad__item {
  display: none;
}

.where-ad__tab-icon {
  position: absolute;
  right: -25px;
}

.where-ad__item.active {
  display: block;
}

.section2 {
  background: #f8f8f8;
}

.section2__container {
  padding: 50px 0 0 0;
  max-width: 1200px;
  margin: auto;
}

.section2__item--title {
  font-size: 35px;
  margin: 0 0 20px 0;
  font-weight: 600;
}

.section2__item--color-title {
  font-size: 35px;
  margin: 50px 0 20px 0;
  font-weight: 600;
  color: #ff8d3c;
  text-align: center;
}

.section2__item--subtitle {
  font-size: 20px;
  margin: 0 0 20px 0;
}

.section2__item--description {
  font-size: 18px;
  margin: 0 0 30px 0;
}

.section2__item--img {
  max-width: 300px;
  margin: 0 0 40px 0;
}

.section2__item--img2 {
  max-width: 600px;
  margin: 0 0 40px 0;
}

.section2__item--place-for-img {
  display: flex;
  justify-content: center;
}

.outlet {
  width: 100%;
  height: 600px;
  background: url(/img/restor.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.outlet__item {
  background: #fff;
  border-radius: 10px;
  padding: 3px;
  max-width: 170px;
  text-align: center;
  margin: 20px;
  box-shadow: 0 0px 0.9px rgba(0, 0, 0, 0.043), 0 0px 2.3px rgba(0, 0, 0, 0.062),
    0 0px 4.8px rgba(0, 0, 0, 0.078), 0 0px 9.9px rgba(0, 0, 0, 0.097),
    0 0px 27px rgba(0, 0, 0, 0.14);
}

.outlet__item--title {
  font-weight: 600;
  font-size: 18px;
}

.outlet__item--description {
  background: #8a4473;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  font-size: 19px;
  min-height: 60px;
  display: flex;
  align-items: center;
}

.outlet__items {
  display: flex;
}

/* @media (max-width: 568px) {
  .scroll {
    width: 100%;
    overflow-x: auto;
  }
  .scroll::-webkit-scrollbar {
    display: none;
  }
} */
