body {
  background: #f3f3f3;
}

.header {
  background-color: #76c7c0;
  background-image: url("./img/nav-border-img.png");
  background-repeat: repeat-x;
  background-position: left bottom;
}

.container {
  max-width: 1170px;
}

.header .navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header .navbar-brand,
.footer-brand {
  font-size: 30px;
  font-weight: 800;
}

.header .navbar-brand span,
.footer-brand span {
  font-size: 25px;
  font-weight: initial;
}

.header .nav-item.active,
.header .nav-item:hover {
  background-color: #62a29e;
  border-bottom: 3px solid #528b86;
  border-radius: 8px;
}

.header .nav-item .nav-link {
  font-weight: 600;
  color: #fff;
  margin: 0 15px;
  padding: 9px 10px;
}

.nav-item.dropdown,
.dropdown-item,
.dropdown-menu {
  position: relative;
}

.dropdown-toggle::after {
  border: 0;
  content: "\f078";
  font-family: "fontawesome";
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 10px;
  left: 5px;
}
.nav-item.btn-group {
  display: block;
}
.dropdown-menu {
  padding: 7px;
  border-radius: 5px;
  top: 135%;
}
.dropdown-menu::after {
  content: "";
  border-top: 12px solid transparent;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #e2534b;
  position: absolute;
  top: -24px;
  left: 10px;

  width: 20px;
  height: 20px;
}

.dropdown-item {
  background: #e5655d;
  padding: 7px 25px;
  margin-bottom: 7px;
  border-radius: 4px;
  font-weight: 600;
  color: #fff;
}

.navbar-nav .show {
  background: #e2534b;
}

.navbar-nav .show.nav-item {
  background: #e5655d;
  border-bottom: 3px solid #e2534b;
  border-radius: 8px;
}

.dropdown-item:hover {
  background: #76c7c0;
  color: #fff;
}

.dropdown-item::before {
  content: "\f054";
  font-size: 10px;
  position: absolute;
  font-family: "fontawesome";
  top: 12px;
  color: #fff;
  left: 11px;
}

.dropdown-item:last-child {
  margin-bottom: 0;
}
.nav-search {
  position: relative;
}

.card-body1 {
  display: flex;
  justify-content: space-between;
}

.btn-p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background: #e8645a;
  color: #fff;
  box-shadow: inset 0 -1px 0 #e2534b;
}

.card-d {
  background: #f8f8f8;
  width: 300px;
  height: 250px;
  border-radius: 6px;
  margin: 40px 10px 10px 10px;
  -webkit-box-shadow: 0px 0px 5px -10px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 0px 0px 5px -10px rgba(0, 0, 0, 0.48);
  box-shadow: 0px 0px 5px -10px rgba(0, 0, 0, 0.48);
  border-bottom: 3px solid #e5e6e6;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.btn-style {
  background: #76c7c0;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 3px;
  min-width: 200px;
  width: 80%;
  padding: 10px;
  box-shadow: inset 0 -3px 0 #62b9b0;
}
.btn-style:hover {
  background: #e8645a;
  box-shadow: inset 0 -3px 0 #e2534b;
}
.title-card-d {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}

.text-card {
  width: 280px;
  margin-top: 15px;
  text-align: center;
  height: 95px;
}

.container-m {
  max-width: 1300px;
  margin: auto;
}

.container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.container-big-card {
  background: #ececec;
  max-width: 1260px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin-top: 30px;
}

.bg-card-title {
  font-size: 29px;
  color: #7f8c8c;
  font-weight: 400;
}
.bg-card-text {
  font-size: 15px;
  color: #898989;
  margin-bottom: 20px;
  max-width: 900px;
}

.cnt-3 {
  margin-top: 60px;
  background: rgba(236, 236, 236, 1) repeat-x;
  background-image: linear-gradient(
      270deg,
      rgb(243, 243, 243) 2px,
      rgba(243, 243, 243, 0) 2px
    ),
    linear-gradient(
      270deg,
      rgb(243, 243, 243, 0) 5px,
      rgba(243, 243, 243, 0) 3px
    ),
    linear-gradient(270deg, rgb(243, 243, 243) 4px, rgba(243, 243, 243, 0) 3px);
  background-size: 10px 3%, 5px 10%, 50px 5%;
  width: 100%;
  height: 300px;
  text-align: center;
  padding: 30px;
}

.title-cnt3 {
  font-size: 38px;
  color: #e1524b;
  font-weight: 500;
  text-transform: uppercase;
}

.txt-cnt3 {
  color: #808080;
  font-size: 14px;
}

.browsers-pl {
  display: flex;
  justify-content: center;
  margin-top: -90px;
}
.browser1 {
  width: 100%;
  height: 100%;
  max-width: 390px;
  min-width: 50px;
  max-height: 270px;
  z-index: 1;
  margin-right: -70px;
  margin-top: 50px;
}

.browser2 {
  width: 100%;
  min-width: 50px;
  height: 100%;
  max-width: 620px;
  max-height: 370px;
  z-index: 5;
}

.browser3 {
  width: 100%;
  min-width: 50px;
  height: 100%;
  max-width: 390px;
  max-height: 270px;
  z-index: 1;
  margin-left: -70px;
  margin-top: 50px;
}

/* section 4 */
.cnt-4 {
  max-width: 1250px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.title-left-cnt4 {
  font-size: 17px;
  font-weight: 700;
  color: #7f8c8c;
  margin-bottom: 30px;
}
ul.list-left-cnt4 {
  padding-inline-start: 15px;
}
ul.list-left-cnt4 li {
  list-style: none;
  font-size: 14px;
  line-height: 30px;
  color: #8b8b8b;
  max-width: 220px;
}
ul.list-left-cnt4 li::before {
  position: absolute;
  margin-left: -15px;
  margin-top: 8px;
  content: "";
  width: 10px;
  height: 12px;
  background: url("./img/li.png");
}
.center-cnt4 {
  align-content: center;
}
.center-cnt4 p {
  max-width: 700px;
  color: #8b8b8b;
  font-size: 14px;
}
.center-cnt4 span {
  color: #e2534b;
  text-decoration: underline;
}
.informer50 {
  width: 150px;
  height: 80px;
  border-radius: 160px 160px 0 0;
  border-top: 20px solid #7f8c8c;
  border-left: 20px solid #7f8c8c;
  border-right: 20px solid #62b9b0;
  text-align: center;
  padding: 20px;
  color: #7f8c8c;
  font-size: 35px;
  margin: 10px;
}
.txt-aftinf {
  color: #7f8c8c;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.container-finf-cnt-4 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.title-right-cnt4 {
  font-size: 17px;
  font-weight: 700;
  color: #7f8c8c;
  margin-bottom: 30px;
}
.comment-right-cnt4 {
  position: relative;
  background-color: #f8f8f8;
  max-width: 300px;
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #7f8c8c;
}

.comment-right-cnt4::after {
  left: 30px;
  top: 100%;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 40px solid #f8f8f8;
  border-left: 40px solid transparent;
}
.author-right-cnt4 {
  font-size: 16px;
  font-weight: 500;
  color: #7f8c8c;
  margin-left: 90px;
  margin-top: 5px;
}
/* ////section 4 */

/* section 5 */
.cnt-5 {
  max-width: 1250px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.cnt-5-left {
  flex-basis: 2;
  font-size: 17px;
  font-weight: 700;
  color: #7f8c8c;
  margin-right: 10px;
}

.cnt-5-center {
  width: 980px;
  min-width: 50px;
}
.class-hr {
  width: 100%;
  height: 3px;
  background: #e1e2e2;
  position: relative;
}

.class-hr::before {
  content: "";
  position: absolute;
  background: #e1e2e2;
  top: -3px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}
.cnt-5-right {
  display: flex;
  margin-left: 10px;
}

.btn-sml-lft {
  background: #76c7c0;
  color: #fff;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  border-radius: 3px;
  width: 30px;
  padding: 5px;
  box-shadow: inset 0 -3px 0 #62b9b0;
  margin-left: 5px;
  margin-right: 5px;
}

.cnt-5-picters {
  max-width: 1230px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pic-sec5 {
  width: 150px;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.pic-sec5 img {
  width: 100%;
}
/* ////section 5 */

/* fooooter */
.footer {
  margin-top: 50px;
  width: 100%;
  background: rgba(118, 199, 192, 1) repeat-x;
  background-image: linear-gradient(
      270deg,
      rgb(145, 210, 205) 2px,
      rgba(243, 243, 243, 0) 2px
    ),
    linear-gradient(
      270deg,
      rgb(243, 243, 243, 0) 2px,
      rgba(243, 243, 243, 0) 3px
    ),
    linear-gradient(270deg, rgb(145, 210, 205) 4px, rgba(243, 243, 243, 0) 3px);
  background-size: 10px 3%, 5px 10%, 50px 5%;
  padding: 50px 10px 10px 10px;
}
.footer-content {
  max-width: 1250px;
  margin: auto;
  display: flex;
  padding-bottom: 50px;
  flex-wrap: wrap;
}
.logo {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
}

.sub_logo {
  font-size: 20px;
  margin-left: 5px;
  text-transform: lowercase;
  font-weight: 400;
}
.footer-1sec-text {
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
  max-width: 400px;
}

.footer-1sec-contact-info {
  margin-top: 15px;
  color: #fff;
  font-size: 20px;
}
.footer-1sec-contact-info span {
  font-size: 14px;
}

.footer-1sec {
  flex-grow: 1;
}

.footer-2sec {
  flex-grow: 2;
  display: flex;
  margin-bottom: 30px;
}

.colum-menu-footer {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.title-colum-menu-footer {
  color: #3b6360;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.colum-menu-footer-link a {
  position: relative;
  color: #ffff;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 30px;
  text-decoration: none;
}

.colum-menu-footer a::before {
  content: ">";
  position: absolute;
  color: #ffff;
  left: -20px;
}

.footer-4sec {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.footer-4sec-title {
  font-size: 21px;
  color: #fff;
  margin-bottom: 20px;
}
.footer-4sec-title span {
  font-weight: 700;
  text-transform: uppercase;
}
.footer-4sec-blog-place {
  display: flex;
  flex-direction: column;
}

.footer-4sec-blog-post {
  display: flex;
  max-width: 400px;
  margin-bottom: 20px;
}

.footer-4sec-blog-pos-block-title {
  color: #fff;
  font-size: 14px;
  margin-left: 20px;
}

.footer-4sec-blog-pos-block-subtitle {
  color: #589590;
}

.footer-bottom-line {
  width: 100%;
  background: #6ab3ac;
  padding: 0px 10px 0px 10px;
  align-items: center;
}

.footer-bottom-line-container {
  max-width: 1250px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 20px 0px;
  font-size: 14px;
  color: #fff;
}
.footer-bottom-line-right-icon-social img {
  margin-left: 20px;
}

.bg-button {
  width: 40px;
  height: 40px;
  position: absolute;
  background: #e2534b;
  z-index: -10;
  border-radius: 5px;
}
.carousel-control-prev-icon {
  position: relative;
  z-index: 1110;
}

.carousel-indicators .active {
  background: #e2534b;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.carousel-indicators {
  bottom: -35px;
}
.carousel-indicators li {
  width: 50px;
  height: 0px;
  background: rgb(176, 184, 185);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}

.slide .carousel-inner .carousel-item .carousel-caption p {
  background-color: #3f4646;
  width: 100%;
  padding: 0 20px;
  border-radius: 5px;
  margin-top: 10px;
}
.slide .carousel-inner .carousel-item .carousel-caption {
  position: absolute;
  margin: 0 auto;
  width: 30%;
  top: 30%;
  color: #ffffff;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

@media (max-width: 900px) {
  .adaptive-padding {
    padding-left: 10px;
    padding-right: 10px;
  }
  .right-cnt4 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .title-right-cnt4 {
    margin-top: 40px;
  }
  .center-cnt4 p {
    padding-left: 10px;
    padding-right: 10px;
  }
  .left-cnt4 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .comment-right-cnt4 {
    max-width: 600px;
  }
  .cnt-4 {
    flex-wrap: wrap;
  }
}
