@font-face {
  font-family: stalkerLogo; /* Гарнитура шрифта */
  src: url(./fonts/stalkerLogo.ttf);
}

@font-face {
  font-family: stalkerBoycott; /* Гарнитура шрифта */
  src: url(./fonts/Boycott.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f9f9f9;
}

main {
  max-width: 1200px;
  background-color: #fff;
  border: solid 1px #e5e5e5;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
}

header {
  background-color: #1b1b1b;
  padding-top: 20px;
  padding-bottom: 65px;
  /* background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./img/bg-header.jpg);
  background-position: 100% 85%;
  background-size: cover;
  background-repeat: no-repeat; */
  position: relative;
}

.container-for-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1200px;
}

.left-side-header {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  align-items: center;
}

.logo img {
  width: 55px;
  margin-right: 15px;
  /* border: solid 2px#bebebe; */
  border-radius: 50px;
  cursor: pointer;
  transition: all 1s;
}

.logo img:hover {
  transform: rotate(300deg);
  transition: all 1s;
}

.left-side-header-text {
  color: #e5e5e5;
  font-size: 30px;
  font-weight: 500;
  font-family: stalkerBoycott;
}

.left-side-header-sub-text {
  margin-top: 5px;
  color: #bebebe;
  font-size: 13px;
}

header nav ul {
  display: flex;
}

header nav ul li {
  text-decoration: none;
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  margin-left: 30px;
  opacity: 0.7;
  transition: all 0.3s;
}

header nav ul li a:hover {
  opacity: 1;
}

.section-title {
  font-size: 25px;
  font-weight: 800;
  color: #3b3b3b;
  margin: 20px;
}

.container-for-news-informer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-news-container {
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  max-width: 31%;
  margin: 0px 10px 20px 10px;
}

.footer {
  margin-top: -45px;
  padding-top: 65px;
  padding-bottom: 80px;
  font-size: 13px;
  text-align: center;
  z-index: 1000;
  background-color: #1b1b1b;
  color: #7a7a7a;
  padding-left: 20px;
  padding-right: 20px;
}

.toggle-button {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #e5e5e5;
  border-radius: 10px;
}

.item-news {
  margin: 0px 10px 20px 10px;
  width: 31%;
  height: 400px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.item-news:hover::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.item-news:nth-child(1) {
  width: 64%;
}

.item-news:nth-child(6) {
  width: 96.5%;
}

.item-news-title-info-line {
  color: #fff;
  font-size: 15px;
  z-index: 1;
}

.item-news-title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  z-index: 1;
  margin-top: 20px;
}

.item-news-add-date {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.video-informer-section {
  background-color: #413d3d;
  padding-bottom: 0px;
}

.video-informer-section-title {
  font-size: 25px;
  font-weight: 800;
  color: #ffffff;
  padding: 20px 20px 20px 20px;
}

.container-for-video-informer {
  display: flex;
  justify-content: center;
}

.video-informer-item {
  margin: 0px 10px 20px 10px;
  width: 31%;
  position: relative;
  cursor: pointer;
  background-position: center;
}

.video-informer-item img {
  width: 100%;
  height: 100%;
}

.video-informer-item:hover::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.video-informer-title {
  color: #fff;
  font-weight: 700;
  margin-top: 5px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10;
}

.video-informer-time {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  z-index: 10;
}

.item-article {
  margin: 0px 10px 20px 10px;
  width: 31%;
  height: 400px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.item-article-title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  z-index: 10;
}

.item-article-title-info-line {
  color: #fff;
  font-size: 15px;
  margin-bottom: 20px;
  z-index: 10;
}

.item-article-title-info-line {
  display: flex;
  justify-content: space-between;
}

.item-article-short-message {
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: #fff;
  font-size: 15px;
  z-index: 10;
}

.item-article:hover::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 1190px) {
  .container-for-news-informer {
    display: flex;
  }

  header {
    padding: 20px 20px 60px 20px;
  }

  .item-article {
    margin: 0px 10px 20px 10px;
    width: 31%;
    height: 400px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    position: relative;
  }

  .item-news {
    margin: 0px 10px 20px 10px;
    width: 31%;
    height: 300px;
  }

  .item-news:nth-child(1) {
    width: 31%;
  }

  .item-news:nth-child(6) {
    width: 31%;
  }
}

@media (max-width: 876px) {
  .item-news {
    width: 47%;
    height: 250px;
  }

  .item-news:nth-child(1) {
    width: 47%;
  }

  .item-news:nth-child(6) {
    width: 47%;
  }

  .item-news:nth-child(9) {
    width: 100%;
  }

  .item-article {
    margin: 0px 10px 20px 10px;
    width: 47%;
  }
  .item-article:nth-child(3) {
    width: 100%;
  }
}

@media (max-width: 686px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .container-for-header {
    flex-direction: column;
    align-items: flex-start;
  }

  header nav ul {
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-top: 30px;
  }

  header nav ul li {
    margin-top: 10px;
  }

  header nav ul li a {
    margin: 10px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .navbar-links.active {
    display: flex;
  }

  main {
    margin: auto;
    max-width: 1200px;
    background-color: #fff;
    margin-top: -40px;
    border: solid 1px #e5e5e5;
    z-index: 10;
    position: relative;
  }

  header {
    /* padding-top: 60px; */
    padding: 20px 20px 60px 20px;
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(./img/bg-header.jpg);
    background-position: 100% 85%;
    background-size: cover;
    background-repeat: no-repeat; */
    position: relative;
    z-index: 1;
  }

  .left-side-header-sub-text {
    font-size: 12px;
  }
  .toggle-button {
    top: 37px;
    right: 20px;
    width: 25px;
    height: 21px;
  }
  .container-for-video-informer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .video-informer-item {
    margin: 0px 20px 20px 20px;
    width: 100%;
  }

  .item-article {
    margin: 0px 20px 20px 20px;
    width: 100%;
    height: 300px;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    position: relative;
  }
  .item-news {
    margin: 0px 20px 20px 20px;
    width: 100%;
    height: 250px;
  }

  .item-news:nth-child(1) {
    width: 100%;
  }

  .item-news:nth-child(6) {
    width: 100%;
  }

  .item-news:nth-child(9) {
    width: 100%;
  }
}
