* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f9f9f9;
}

main {
  margin: auto;
  max-width: 1400px;
  padding: 20px;
  background-color: #fff;
  margin-top: -40px;
  border: solid 1px #e5e5e5;
}

header {
  background-color: #081c24;
  height: 160px;
  padding-top: 20px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/bg-header.jpg);
  background-position: 100% 85%;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-for-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1400px;
}

.left-side-header {
  display: flex;
  align-items: center;
}

.logo img {
  width: 80px;
  margin-right: 20px;
}

.left-side-header-text {
  color: #fff;
  font-size: 30px;
  font-weight: 900;
}

.left-side-header-sub-text {
  color: #fff;
  font-size: 17px;
  font-style: italic;
}

header nav ul {
  display: flex;
}

header nav ul li {
  text-decoration: none;
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  opacity: 0.7;
  transition: all 0.3s;
}

header nav ul li a:hover {
  opacity: 1;
}
