* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(201, 197, 197);
}

body {
  font-family: "Lato", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-image: url(./img/bg-header.jpg);
  background-size: cover;
  background-position: 20%;
  height: 500px;
  padding: 40px 40px 40px 40px;
}

nav {
  display: flex;
  margin-top: 10px;
}

nav li a {
  text-decoration: none;
  color: #ffff;
  opacity: 0.7;
  list-style-type: none;
  font-size: 19px;
  margin: 10px 50px 10px 50px;
}

nav li a:last-child {
  margin: 10px 10px 10px 50px;
}

nav li a:hover {
  opacity: 1;
}

nav li {
  list-style-type: none;
}

.logo {
  color: #ffff;
  font-weight: bold;
  font-size: 30px;
  display: flex;
}

.logo span {
  margin-top: 10px;
}

.text-logo {
  margin-top: 5px;
}

main {
  display: flex;
}

@media (max-width: 1000px) {
  main {
    flex-wrap: wrap;
  }
}

.informer1 {
  background: #332715;
  padding: 50px;
  color: rgb(201, 197, 197);
  flex-grow: 1;
}

.informer1-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  font-size: 20px;
}

.informer1-top-number span {
  font-size: 40px;
  font-weight: 900;
}

.informer1-top-switchers a {
  font-size: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.informer1-message {
  line-height: 25px;
}

.informer2 {
  background: #bbb5af;
  flex-grow: 2;
  color: rgb(48, 48, 48);
  padding: 50px;
}

.informer2-title {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 30px;
}

.informer2-message {
  line-height: 25px;
}

.informer3 {
  flex-grow: 2;
  color: rgb(48, 48, 48);
  padding: 50px 0px 50px 50px;
}

.informer3-comment-left img {
  border-radius: 100px;
  width: 60px;
}

.informer3-title {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 30px;
}

.informer3-comment {
  display: flex;
  margin-bottom: 40px;
}

.informer3-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 200px;
}

.informer3-container::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
.informer3-container::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.informer3-comment-right {
  margin-left: 20px;
}

.commnet-message-name-author {
  font-weight: 600;
  font-size: 17px;
  margin-bottom: 5px;
}

.commnet-message {
  line-height: 25px;
  margin-right: 50px;
}

.toggle-button {
  margin-top: 10px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.navbar-links li {
  list-style: none;
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
.article {
  max-width: 25%;
  min-width: 300px;
  padding: 30px 40px 0px 40px;
}

@media (max-width: 1600px) {
  .article {
    max-width: 30%;
  }
}

@media (max-width: 1100px) {
  .article {
    max-width: 50%;
  }
}

.article img {
  width: 100%;
}

.article-title {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
}

.article-text {
  margin-bottom: 20px;
  margin-top: 20px;
  color: #494643;
}

.article-icons-bar {
  color: rgb(88, 88, 88);
  font-size: 14px;
}
.article-icons-bar i {
  margin-right: 10px;
}

@media (max-width: 730px) {
  .navbar-links {
    margin-top: 50px;
    margin-left: -50px;
    display: none;
    transition: ease 1s;
  }

  .navbar-links.active {
    display: flex;
    flex-direction: column;
  }

  .toggle-button {
    display: flex;
  }
}

@media (max-width: 620px) {
  .article {
    padding: 20px 20px 0px 20px;
    width: 100%;
    min-width: 100%;
  }

  .informer3 {
    color: rgb(48, 48, 48);
    padding: 20px;
  }

  .informer2 {
    padding: 20px;
  }

  .informer1 {
    padding: 20px;
  }
}
