@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr.ttf") format("truetype");
}

body {
  font-family: "HelveticaNeueCyr";
}

a {
  text-decoration: none;
}

.header {
  background-image: url(../img/bg-header.jpg);
  background-size: cover;
  height: 70vh;
}

.header__top {
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: inset 0px 31px 29px -12px rgba(44, 91, 111, 1);
  -moz-box-shadow: inset 0px 31px 29px -12px rgba(44, 91, 111, 1);
  box-shadow: inset 0px 31px 29px -12px rgba(44, 91, 111, 1);
  height: 200px;
}

.header__burger-menu {
  background-color: #009fd5;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger-menu-lines-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 40px;
  cursor: pointer;
}

.burger-menu-line {
  background-color: #fff;
  width: 30px;
  height: 3px;
}

.header__profile {
  display: flex;
}

.header__link {
  color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 60px 0 60px;
}

.header__link-with-bg {
  background-color: #009fd5;
}

.header__main-text-container {
  margin: auto;
  color: #fff;
  max-width: 590px;
  display: flex;
  flex-direction: column;
  padding: 0 0 80px 0;
}

.header__main-text-before {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.header__main-text-before span {
  color: #f6bf00;
}

.header__main-text {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  margin: 10px 0 10px 0;
}

.header__main-text-after {
  text-transform: uppercase;
  font-size: 18px;
  align-self: flex-end;
  letter-spacing: 2px;
  font-weight: bold;
}

.header__search-panel {
  max-width: 1140px;
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.search-panel-column {
  margin: 0 40px 0 0;
}

.input-cities {
  width: 150px;
  height: 50px;
  padding: 0 10px 0 40px;
  border-radius: 5px;
  border: solid 1px #f6bf00;
}

.input-cities-container {
  height: 50px;
  position: relative;
  border-radius: 5px;
}

.icon-city-img {
  position: absolute;
  left: 10px;
  top: 15px;
}

.input-cities::placeholder {
  font-weight: bold;
}

.search-panel-column-title {
  margin: 0 0 10px 0;
}

.arrival-date {
  border: none;
  background-color: #f9f9f9;
  border-radius: 5px;
  width: 100px;
  height: 100%;
  padding: 0 10px 0 40px;
  font-weight: bold;
}

.icon-date-img {
  position: absolute;
  left: 10px;
  top: 15px;
}

.arrival-date::placeholder {
  color: #969595;
}

::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  background: url(/img/down-icon.png) no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}

.container-arrival-date {
  height: 50px;
  border: solid 1px #d9d9d9;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 0 10px 0 0;
  position: relative;
}

.person {
  border: none;
  background-color: #f9f9f9;
  border-radius: 5px;
  width: 100px;
  height: 100%;
  padding: 0 10px 0 10px;
  font-weight: bold;
}

.container-person {
  height: 50px;
  border: solid 1px #d9d9d9;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 0 0 0 0;
  position: relative;
}

.rooms {
  border: none;
  background-color: #f9f9f9;
  border-radius: 5px;
  width: 50px;
  height: 100%;
  padding: 0 10px 0 10px;
  font-weight: bold;
}

.container-rooms {
  height: 50px;
  border: solid 1px #d9d9d9;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 0 0 0 0;
  position: relative;
}

.search-panel-button-plus {
  cursor: pointer;
  width: 30px;
  height: 30px;
  align-self: center;
}

.search-now {
  width: 150px;
  height: 50px;
  border: none;
  background-color: #f6bf00;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
}

.buttons {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
}

.footer {
  background: rgb(39, 37, 29);
  background: linear-gradient(
    0deg,
    rgba(39, 37, 29, 1) 0%,
    rgba(8, 7, 4, 1) 100%
  );
  height: 220px;
}
