@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: 0.15s;
}

a:hover,
button:hover {
  transition: 0.15s;
}

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: 0.15s;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

input[type="button"] {
  cursor: pointer;
}

input {
  outline: none;
}

li {
  list-style: none;
}

body {
  font-family: "HelveticaNeueCyr";
  font-weight: normal;
  font-style: normal;
  min-width: 300px;
  position: relative;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

video {
  vertical-align: bottom;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

svg {
  display: block;
  transition: 00.15s;
}

svg path {
  transition: 00.15s;
}

fieldset {
  padding: 0;
  border: none;
}

textarea {
  overflow: auto;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn,
input,
textarea,
button,
.slick-slide {
  outline: none;
  border: none;
}

.slick-slide:focus {
  outline: none;
}

.slick-prev {
  z-index: 9;
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-slide {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: pink;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: pink;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: pink;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: pink;
}

.opacity__7 {
  transition: 0.15s;
}

.opacity__7:hover {
  opacity: 0.7;
  transition: 0.15s;
}

.btn {
  white-space: nowrap;
}

.same_height > [class*="col-"] {
  display: flex;
  flex-direction: column;
}

.same_height .item_h {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.wrapper_main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper_main .content {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

.safari input,
.safari textarea {
  display: block;
  -webkit-appearance: none;
  width: 100%;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
