@font-face {
  font-family: stalker-font;
  src: url(/fonts/stalker-font.ttf);
}

@font-face {
  font-family: stalker-font-italic;
  src: url(/fonts/stalker-font-italic.ttf);
}

:root {
  --background-container: #f3f5f6;
  --color-links: #262b2e;
  --hover-links: #000000;
  --main-color: #d37c22;
  --border-color: #e7e8e9;
  --color-text: #555;
  --comments-date: rgb(156, 156, 156);
}

* {
  transition: all 0.3s;
}

body {
  font: 15px "Open Sans", "Trebuchet MS", Helvetica, Helvetica Neue, Arial,
    sans-serif;
  position: relative;
}

a {
  color: var(--color-links);
}

.flex {
  display: flex;
}

.p-20 {
  padding: 20px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  /* background: #222; */
  background: var(--background-container);
  box-shadow: 0 2px 2px -1px rgb(0 0 0 / 10%);
}

.header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1150px;
  margin: auto;
}

.header__logo a {
  /* font-family: stalker-font; */
  font-family: stalker-font-italic;
  color: var(--color-links);
  font-size: 36px;
}

.header__logo a:hover {
  color: var(--hover-links);
}

.header nav ul {
  display: flex;
}

.header nav ul li a {
  display: flex;
  align-items: center;
  font-weight: 600;
  padding: 18px 10px;
  color: var(--color-links);
  position: relative;
  text-align: center;
  height: 100%;
}

.header nav ul li a::before {
  display: none;
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--main-color);
}

.header nav ul li a:hover {
  color: var(--hover-links);
  background: var(--border-color);
}

.header nav ul li a:hover::before {
  display: block;
}

.content {
  padding-top: 200px;
}

.content .container {
  width: 100%;
  max-width: 1150px;
  margin: auto;
  background: var(--background-container);
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(https://www.stalker2.com/img/screenshots/screenshot_4.jpg);
  background-attachment: fixed;
  z-index: -1;
}

.news {
  flex: 1;
}

.comments__title,
.news__title {
  color: var(--color-links);
  font-weight: 800;
  font-size: 27px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: solid 1px var(--border-color);
}

.news .item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px var(--border-color);
}

.news .item__title {
  display: block;
  font-family: "Montserrat", "Trebuchet MS", Helvetica, "Helvetica Neue", Arial,
    sans-serif;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 15px;
}

.news .item__description {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-text);
  line-height: 25px;
}

.news .item__img {
  width: 100%;
  margin: 15px 0 0 0;
}

.comments {
  width: 300px;
  margin: 0 0 0 40px;
}

.comments .item {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px var(--border-color);
}

.comments .item__header {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
}

.comments .item__avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 15px 0 0;
}

.comments .item__author-info {
  display: flex;
  flex-direction: column;
}

.comments .item__author-name {
  font-weight: 600;
  font-size: 15px;
}

.comments .item__date {
  font-size: 13px;
  color: var(--comments-date);
}

.comments .item__description {
  font-size: 14px;
  color: var(--color-text);
  margin: 0 0 10px 0;
}

.comments .item__link {
  color: var(--main-color);
  font-size: 13px;
}

.footer {
  padding: 20px 0;
  text-align: center;
  color: var(--border-color);
}

/* dark mode */

.dark {
  --background-container: #2a2a2a;
  --color-links: #cacaca;
  --hover-links: #e6e6e6;
  --main-color: #d37c22;
  --border-color: #ffffff1c;
  --color-text: rgb(163, 163, 163);
  --comments-date: rgb(109, 109, 109);
}

.dark .bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.icon-sun svg,
.icon-moon svg {
  width: 25px;
  height: 25px;
}

.icon-sun svg path,
.icon-moon svg path {
  fill: var(--color-links);
}

.header nav ul li a:hover svg path {
  fill: var(--hover-links);
}

.dark .icon-moon {
  display: none;
}

.icon-sun {
  display: none;
}

.dark .icon-sun {
  display: block;
}

/* dark mode */
