body {
  font-family: "Open Sans", sans-serif;
  background: #f7f9fc;
}

.container {
  max-width: 1167px;
  margin: auto;
}

.header {
  background: #ffffff;
  -webkit-box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.06);
  padding: 20px 0 0 0;
}

@media (max-width: 1200px) {
  .header {
    padding: 20px 20px 0 20px;
  }
}

.header__left-side {
  overflow: hidden;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media (max-width: 775px) {
  .header__container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.header__logo {
  margin: 0 0 23px 0;
}

.header__dropdown-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 775px) {
  .header__dropdown-right {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 100px;
    min-width: 176px;
    padding: 24px;
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    z-index: 10;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.header__button-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform: translateY(calc(50% - 1px));
          transform: translateY(calc(50% - 1px));
  width: 64px;
  height: 64px;
  background: linear-gradient(135deg, #ff974f 0%, #e32c75 100%);
  border-radius: 50%;
}

@media (max-width: 775px) {
  .header__button-add {
    -webkit-transform: translate(calc(50% - 24px), calc(50% + 24px));
            transform: translate(calc(50% - 24px), calc(50% + 24px));
  }
}

.header__button-add img {
  width: 20px;
  height: 20px;
}

.header__button-add:hover img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__burger-wrapper {
  position: relative;
}

.header__burger {
  display: none;
  position: relative;
  width: 18px;
  height: 18px;
  cursor: pointer;
  overflow: hidden;
}

@media (max-width: 775px) {
  .header__burger {
    display: block;
  }
}

.header__burger-line {
  position: absolute;
  right: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #3e3f58;
  border-radius: 100px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__burger-line:nth-child(1) {
  top: 1px;
}

.header__burger-line:nth-child(2) {
  width: 80%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__burger-line:nth-child(3) {
  bottom: 0;
}

.header__burger.header__burger--open .header__burger-line:nth-child(1) {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  top: 10px;
}

.header__burger.header__burger--open .header__burger-line:nth-child(2) {
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
}

.header__burger.header__burger--open .header__burger-line:nth-child(3) {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  bottom: 6px;
}

.header__dropdown-right.header__dropdown-right--open {
  opacity: 1;
  pointer-events: all;
}

@media (max-width: 775px) {
  .header-menu-wrapper {
    overflow: auto;
    height: 44px;
  }
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-menu__item:not(:last-child) {
  margin: 0 36px 0 0;
}

.header-menu__item--active {
  position: relative;
}

.header-menu__item--active::before {
  content: "";
  position: absolute;
  bottom: -25px;
  width: 100%;
  height: 4px;
  background: linear-gradient(135deg, #ff974f 0%, #e32c75 100%);
}

.header-menu__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #3e4056;
  opacity: 0.6;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-menu__link:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
}

.header-menu__item--active .header-menu__link {
  opacity: 1;
}

.header-user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 775px) {
  .header-user-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.header-user-block__name {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #3e3f58;
}

.header-user-block__avatar {
  width: 32px;
  height: 32px;
  margin: 0 12px 0 20px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

.header-user-block__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-user-block__icon-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 30px;
}

@media (max-width: 775px) {
  .header-user-block__icon-links {
    margin: 15px 0 0 0;
  }
}

.header-user-block__icon-links-item:not(:last-child) {
  margin: 0 17px 0 0;
}

.content {
  padding: 80px 0 0 0;
}

@media (max-width: 1200px) {
  .content__container {
    padding: 20px;
  }
}

@media (max-width: 775px) {
  .content__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.content-user-block {
  max-width: 350px;
  margin: 0 47px 0 0;
}

@media (max-width: 775px) {
  .content-user-block {
    margin: 0 0 47px 0;
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 475px) {
  .content-user-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.content-user-block__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 32px 0;
}

@media (max-width: 775px) {
  .content-user-block__header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 475px) {
  .content-user-block__header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 775px) {
  .content-user-block__user {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (max-width: 475px) {
  .content-user-block__user {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.content-user-block__avatar {
  margin: 0 24px 0 0;
}

@media (max-width: 475px) {
  .content-user-block__avatar {
    margin: 0 0 24px 0;
  }
}

.content-user-block__avatar img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.content-user-block__user-name {
  max-width: 120px;
  margin: 0 0 8px 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: #3e3f58;
}

@media (max-width: 775px) {
  .content-user-block__user-name {
    max-width: 100%;
  }
}

.content-user-block__user-nick {
  margin: 0 0 16px 0;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.5px;
  color: #3e3f58;
}

.content-user-block__edit-title {
  font-size: 16px;
  line-height: 20px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #f05d63;
}

.content-user-block__edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-user-block__edit img {
  margin: 0 8px 0 0;
}

.content-user-block__description {
  max-width: 350px;
  color: #3e3f58;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 775px) {
  .content-user-block__description {
    max-width: 100%;
  }
}

.user-setting-dropdown {
  position: relative;
  margin: 0 0 0 25px;
}

.user-setting-dropdown__menu {
  position: absolute;
  top: 40px;
  left: -10px;
  min-width: 176px;
  padding: 24px 0;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: -10% 20%;
          transform-origin: -10% 20%;
  -webkit-animation: DropDownDisappear 0.4s ease forwards;
          animation: DropDownDisappear 0.4s ease forwards;
}

@media (max-width: 775px) {
  .user-setting-dropdown__menu {
    left: unset;
    right: -10px;
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}

.user-setting-dropdown__menu--open {
  opacity: 1;
  pointer-events: all;
  -webkit-animation: DropDownAppear 0.4s ease forwards;
          animation: DropDownAppear 0.4s ease forwards;
}

.user-setting-dropdown__menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #3e4056;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.user-setting-dropdown__menu-link img {
  width: 19px;
  margin: 0 16px 0 0;
}

.user-setting-dropdown__menu-link:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: #ecf1f86e;
}

@-webkit-keyframes DropDownAppear {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes DropDownAppear {
  from {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes DropDownDisappear {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes DropDownDisappear {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

.user-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 23px 0;
}

.user-stats__item:not(:last-child) {
  margin: 0 48px 0 0;
}

.user-stats__item-count {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #3e3f58;
}

.user-stats__item-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #636363;
}

.toggle-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.toggle-checkbox--double {
  margin: 0 30px;
}

.toggle-checkbox__input {
  display: none;
}

.toggle-checkbox__body {
  display: block;
  position: relative;
  width: 40px;
  height: 24px;
  border-radius: 41px;
}

.toggle-checkbox__body::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 38px;
  height: 22px;
  background: #ed5267;
  border: 1px solid #ed5267;
  border-radius: 41px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.toggle-checkbox__circle {
  position: absolute;
  top: 50%;
  z-index: 2;
  display: block;
  width: 18px;
  height: 18px;
  background: #ffffff;
  -webkit-transform: translate(4px, -9px);
          transform: translate(4px, -9px);
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.toggle-checkbox input:checked ~ .toggle-checkbox__body .toggle-checkbox__circle {
  -webkit-transform: translate(19px, -9px);
          transform: translate(19px, -9px);
}

.toggle-checkbox input:checked ~ .toggle-checkbox__body:after {
  background: #ed5267;
  border: 1px solid #ed5267;
}

.content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 64px 0;
}

.checkbox-wrapper__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #3e4056;
  cursor: pointer;
}

.user-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -12px;
}

@media (max-width: 775px) {
  .user-posts {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: -12px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.post-item {
  max-width: 374px;
  margin: 12px;
  padding: 24px;
  background: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.12);
}

@media (max-width: 775px) {
  .post-item {
    max-width: 100%;
    margin: 12px 0;
  }
}

.post-item--type1 {
  padding: 56px 24px 24px 24px;
}

.post-item__title {
  max-width: 326px;
  margin: 0 0 44px 0;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  color: #3e4056;
}

@media (max-width: 775px) {
  .post-item__title {
    max-width: 100%;
  }
}

@media (max-width: 575px) {
  .post-item__title {
    font-size: 30px;
    line-height: 39px;
  }
}

.post-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 575px) {
  .post-item__info--with-likes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 575px) {
  .post-item__info--with-likes .post-item__stats {
    margin: 15px 0 0 0;
  }
}

.post-item__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-item__profile-avatar {
  width: 24px;
  height: 24px;
  margin: 0 8px 0 0;
  background: #b2b3bb;
  border-radius: 50%;
}

.post-item__share {
  font-size: 18px;
  line-height: 25px;
  color: #f05d63;
}

.post-item__shared-to-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #3e4056;
}

@media (max-width: 475px) {
  .post-item__shared-to-tag {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.post-item__shared-tag {
  margin: 0 0 0 4px;
  padding: 3px 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #3e4056;
  background: #ecf1f8;
  border-radius: 6px;
}

@media (max-width: 475px) {
  .post-item__shared-tag {
    margin: 4px 0 0 0;
    width: calc(100% - 10px);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.post-item__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-item__stats-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-item__stats-item:not(:last-child) {
  margin: 0 16px 0 0;
}

.post-item__stats-icon {
  margin: 0 8px 0 0;
}

.post-item__shared-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #3e4056;
}

.post-item__shared-link-icon {
  margin: 0 3px 0 0;
}
/*# sourceMappingURL=style.css.map */