body {
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #353535;
}

svg {
  width: 100%;
  max-width: 500px;
  fill: #e2da67;
}
