li {
  list-style-type: none;
}

.category-page__article {
  background: url(../img/category_page/virtual-ac/article__bg.jpg);
  background-size: cover;
  padding: 50px 0 85px 0;
  position: relative;
}

.category-page__article::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.category-page__container {
  max-width: 1270px;
  margin: auto;
  padding: 0 15px 0 15px;
  z-index: 10;
  position: relative;
}

.category-page__article--list {
  margin: 0 0 50px 0;
}

.category-page__article--list li {
  font-size: 16px;
  line-height: 133.1%;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 15px 15px;
  color: #502659;
}

.category-page__article--list li::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  left: -15px;
  background: #ee7325;
}

.category-page__article--title {
  color: #502659;
  font-weight: bold;
  font-size: 46px;
  line-height: 56px;
  margin: 0 0 20px 0;
}

.about-service__container {
  max-width: 1270px;
  margin: auto;
  padding: 80px 15px 80px 15px;
}

.about-service--title {
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: #502659;
  margin: 0 0 50px 0;
  max-width: 630px;
}

.about-service--list {
  margin: 0 0 73px 0;
}

.about-service--list li {
  font-weight: 500;
  font-size: 20px;
  line-height: 143.1%;
  color: #4f4f4f;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 20px 35px;
}

.about-service--list li::before {
  content: url(../img/category_page/before-li.svg);
  position: absolute;
  left: -35px;
}

.benefits {
  background: url(../img/category_page/virtual-ac/benefits__bg.jpg);
  background-size: cover;
  position: relative;
}

.benefits::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.benefits__container {
  max-width: 1270px;
  margin: auto;
  padding: 80px 0px 80px 0px;
  z-index: 100;
  position: relative;
}

.benefits__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: #502659;
  margin: 0 15px 30px 15px;
}

.benefits__item {
  background: #fff;
  padding: 40px;
  display: flex;
  width: 600px;
  height: 250px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0 20px 30px 0;
}

.benefits__item--left {
  margin: 0 40px 0 0;
  display: flex;
  align-items: center;
}

.benefits__item--title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #4f4f4f;
  margin: 0 0 5px 0;
  max-width: 300px;
}

.benefits__item--description {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4f4f4f;
  max-width: 340px;
}

.benefits__item--container {
  display: flex;
  padding: 15px;
}

.tariff__container {
  max-width: 1270px;
  margin: auto;
  padding: 80px 0 80px 0;
}

.tariff__title {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: #502659;
  margin: 0 15px 30px 15px;
}

.tariff__item {
  padding: 10px 30px 30px 30px;
  border-radius: 10px;
  min-width: 300px;
  height: 420px;
  box-shadow: 0px 4px 15px rgba(143, 143, 143, 0.25);
  position: relative;
  margin: 0 50px 0 0;
  background: url(../img/category_page/virtual-ac/tariff__item-bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  display: flex;
  flex-direction: column;
}

.tariff__item:last-child {
  margin: 0;
}

.tariff__item--top {
  margin: 0 0 50px 0;
}

.tariff__item--price {
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  color: #ee7325;
}

.tariff__item--per-month {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #333333;
}

.tariff__item--title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #4f4f4f;
  margin: 0 0 5px 0;
}

.tariff__item--info {
  font-size: 16px;
  line-height: 20px;
  color: #4f4f4f;
  margin: 0 0 20px 0;
}

.tariff__item--description {
  font-weight: 500;
  font-size: 16px;
  line-height: 131.1%;
  color: #4f4f4f;
  max-width: 220px;
  margin: 0 0 30px 0;
}

.tariff__item--button {
  background: #ffffff;
  border: 1.5px solid #ee7325;
  border-radius: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ee7325;
  padding: 10px 50px 10px 50px;
  position: absolute;
  bottom: 30px;
}

.tariff__item--button-place {
  display: flex;
  justify-content: center;
}

.tariff__item--container {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.tariff__item--button:hover {
  background-color: #ee7325;
  color: #fff;
}

.additional-information {
  background: #f0f3fa;
}

.additional-information__container {
  max-width: 1270px;
  margin: auto;
  padding: 80px 0 80px 0;
}

.additional-information__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: #502659;
  margin: 0 15px 40px 15px;
  max-width: 800px;
}

.additional-information__description {
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  max-width: 1000px;
  margin: 0 15px 30px 15px;
}

.additional-information__item {
  box-shadow: 0px 4px 15px rgba(143, 143, 143, 0.25);
  background: #fff;
  padding: 30px;
  min-width: 400px;
  height: 480px;
  position: relative;
  border-radius: 10px;
  margin: 0 20px 0 0;
}

.additional-information__item--title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  margin: 0 0 20px 0;
}

.additional-information__item--list--item {
  font-size: 16px;
  line-height: 133.1%;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 15px 15px;
  color: #4f4f4f;
}

.additional-information-list--item--bold {
  font-weight: 600;
  margin: 0 0 5px 15px;
  position: relative;
  display: flex;
  align-items: center;
}

.additional-information-list--item--bold::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  left: -15px;
  background: #ee7325;
}

.additional-information__item--list--item::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  left: -15px;
  background: #ee7325;
}

.little-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 133.1%;
  margin: 0 0 15px 15px;
}

.additional-information__item--attention-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 133.1%;
  text-align: center;
  color: #4f4f4f;
  margin: 20px 0 0 0;
}

.additional-information__item--container {
  padding: 15px;
  display: flex;
}

.additional-information__item--button {
  background: #ffffff;
  border: 1.5px solid #ee7325;
  border-radius: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ee7325;
  padding: 10px 50px 10px 50px;
  position: absolute;
  bottom: 30px;
}

.additional-information__item--button:hover {
  background-color: #ee7325;
  color: #fff;
}

.additional-information__item--button-place {
  display: flex;
  justify-content: center;
}

.questions__container {
  max-width: 1270px;
  margin: auto;
  display: flex;
  padding: 70px 15px 70px 15px;
}

.questions__left {
  margin: 0 90px 0 0;
}

.questions__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: #333333;
  margin: 0 0 20px 0;
}

.questions__description {
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  max-width: 660px;
  margin: 0 0 40px 0;
}

.questions__input {
  border: none;
  max-width: 320px;
  margin: 0 50px 50px 0;
  padding: 0 0 20px 0;
  font-size: 24px;
  line-height: 29px;
  border-bottom: 1px solid #333333;
}

.questions__input::placeholder {
  color: #828282;
}

@media (max-width: 1050px) {
  .tariff__item--container {
    justify-content: unset;
  }
}

@media (max-width: 820px) {
  .category-page__article::before {
    opacity: 0.7;
  }
  .questions__container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .questions__left {
    margin: 0 0 50px 0;
  }
  .questions__input {
    max-width: 100%;
    width: 100%;
    margin: 0 0 50px 0;
  }
}

@media (max-width: 500px) {
  .category-page__article {
    padding: 30px 0 30px 0;
  }

  .category-page__article--title {
    font-size: 28px;
    margin: 0 0 10px 0;
  }
  .about-service__container {
    padding: 30px 15px 30px 15px;
  }
  .about-service--title {
    font-size: 32px;
    margin: 0 0 30px 0;
  }
  .about-service--list li {
    font-size: 14px;
  }
  .about-service--list {
    margin: 0 0 30px 0;
  }
  .benefits__container {
    padding: 30px 0 30px 0;
  }
  .benefits__title {
    font-size: 32px;
    margin: 0 15px 30px 15px;
  }
  .benefits__row {
    display: flex;
  }
  .benefits__item {
    flex-direction: column;
    height: 280px;
    width: 290px;
    padding: 20px;
  }
  .benefits__item--left img {
    width: 70px;
  }
  .benefits__item--left {
    margin: 0 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .benefits__item--title {
    font-size: 16px;
    line-height: 20px;
  }
  .benefits__item--description {
    font-size: 14px;
    line-height: 17px;
  }
  .tariff__container {
    padding: 30px 0 30px 0;
  }
  .tariff__title {
    font-size: 32px;
    margin: 0 15px 30px 15px;
  }
  .additional-information__container {
    padding: 30px 0 30px 0;
  }
  .additional-information__title {
    font-size: 32px;
    margin: 0 15px 30px 15px;
  }
  .additional-information__description {
    font-size: 16px;
    line-height: 20px;
  }
  .additional-information__item {
    min-width: 312px;
  }
  .additional-information__item--title {
    font-size: 18px;
  }
  .additional-information__item--list--item {
    font-size: 14px;
    margin: 0 0 10px 15px;
  }
  .additional-information-list--item--bold {
    font-size: 14px;
  }
  .questions__container {
    padding: 30px 15px 30px 15px;
  }
  .questions__title {
    font-size: 32px;
  }
  .questions__description {
    font-size: 16px;
    line-height: 20px;
  }
  .questions__left img {
    display: none;
  }
}
