* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.header__top-bar {
  background: #f0f3fa;
}

.header__top-bar--item,
.footer-icon-link {
  display: flex;
  align-items: center;
  color: #4f4f4f;
}

.header__top-bar--container {
  max-width: 1270px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0 15px 0 15px;
}

.header__top-bar--item--icon,
.footer-icon-link-item--icon {
  margin: 0 10px 0 0;
}

.header__navigation--container {
  max-width: 1270px;
  margin: auto;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 15px;
}

.header__navigation--menu--link {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #4f4f4f;
  margin: 0 50px 0 0;
}

.header__navigation--menu--link:hover {
  color: #ee7325;
}

.button {
  background: #ee7325;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  border: 1.5px solid #ee7325;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 10px 40px 10px 40px;
}

.button:hover {
  background: #ffa66d;
  border: 1.5px solid #ffa66d;
}

.main-slider {
  max-width: 1270px;
  padding: 0 15px 0 15px;
  margin: auto;
  position: relative;
}

.slider-next-button,
.slider-prev-button {
  position: absolute;
  /* top: 50%; */
  right: 90px;
  bottom: 30px;
}

.slider-next-button {
  right: 30px;
  bottom: 30px;
}

.slider-next-button {
  display: flex;
  border-radius: 100%;
  border: 2px solid #502659;
  width: 40px;
  height: 40px;
  padding: 10px 15px 10px 10px;
  justify-content: center;
  align-items: center;
  background: #ffff;
  opacity: 0.7;
}

.slider-next-button:hover,
.slider-prev-button:hover {
  opacity: 1;
}

.main-slider__item {
  display: none;
}

.slider-arrow-right {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.slider-prev-button {
  display: flex;
  border-radius: 100%;
  border: 2px solid #502659;
  width: 40px;
  height: 40px;
  padding: 10px 10px 10px 15px;
  justify-content: center;
  align-items: center;
  background: #fff;
  opacity: 0.7;
}

.slider-arrow-left {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(135deg);
}

.main-slider__item {
  display: flex;
}

.main-slider__title {
  font-weight: bold;
  font-size: 52px;
  line-height: 63px;
  color: #502659;
}

.main-slider__description {
  max-width: 600px;
  font-size: 24px;
  line-height: 142.1%;
  color: #502659;
  margin: 20px 0 60px 0;
}

.main-slider__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-slider__button {
  max-width: 250px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.products__container {
  max-width: 1270px;
  margin: auto;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: #502659;
  margin: 0 0 0 15px;
}

.products__title {
  margin: 60px 0 30px 15px;
}

.porducts__item {
  padding: 30px;
  max-width: 300px;
  height: 420px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  position: relative;
}

.porducts__item--title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #4f4f4f;
  margin: 0 0 20px 0;
}

.porducts__item--description {
  font-weight: 500;
  font-size: 14px;
  line-height: 133.1%;
  color: #4f4f4f;
  margin: 0 0 10px 0;
}

.porducts__item--list li {
  color: #ee7325;
  list-style-type: disc;
  font-size: 12px;
  line-height: 133.1%;
  margin: 0 0 5px 13px;
}

.porducts__item--list li span {
  color: #4f4f4f;
}

.button2 {
  background: #fff;
  color: #ee7325;
  font-size: 16px;
  line-height: 20px;
  border: 1.5px solid #ee7325;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 10px 40px 10px 40px;
  position: absolute;
  bottom: 30px;
}

.button2:hover {
  background-color: #ee7325;
  color: #fff;
}

.porducts__item__container {
  display: flex;
  justify-content: space-between;
  margin: 0 0 80px 0;
  width: 1270px;
  padding: 15px;
}

.help-business {
  background: url(/img/help-business.jpg);
  background-size: cover;
  padding: 60px 0 60px 0;
}

.help-business__container {
  max-width: 1270px;
  margin: auto;
}

.help-business--title {
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: #ffffff;
  max-width: 600px;
  margin: 0 0 60px 15px;
  align-self: flex-start;
}

.help-business__item--container {
  width: 1270px;
  display: flex;
  padding: 0 15px 0 15px;
}

.help-business__item {
  background: #ffffff;
  border-radius: 10px;
  width: 236px;
  height: 120px;
  padding: 20px;
  display: flex;
  margin: 0 20px 30px 0;
  cursor: pointer;
}

.help-business__item--title {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #333333;
}

.help-business__item--icon {
  margin: 0 25px 0 0;
}

.help-business__item--row {
  display: flex;
}

.help-business__button--place {
  display: flex;
  justify-content: center;
}

.help-business__button {
  margin: 60px 0 0 0;
}

.in-digits {
  background: #f0f3fa;
  padding: 60px 0 60px 0;
}

.in-digits__container {
  max-width: 1270px;
  margin: auto;
}

.in-digits__item--container {
  margin: 70px 0 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 15px 0 15px;
}

.in-digits__item {
  margin: 0 0 50px 0;
}

.in-digits__item--title {
  font-weight: 600;
  font-size: 30px;
  line-height: 148.1%;
  text-align: center;
  color: #ee7325;
}

.in-digits__item--desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 148.1%;
  text-align: center;
  color: #000000;
}

.products-used__container {
  max-width: 1270px;
  margin: auto;
}

.products-used {
  padding: 60px 0 60px 0;
}

.products-used__item--container {
  margin: 100px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1270px;
  padding: 0 15px 0 15px;
}

.products-used__item {
  position: relative;
  display: flex;
  align-items: center;
}

.products-used__item::after {
  content: "";
  position: absolute;
  height: 58px;
  width: 1px;
  right: -40px;
  background-color: #bdbdbd;
}

.products-used__item:last-child::after {
  display: none;
}

.partners {
  background: #f0f3fa;
  padding: 60px 0 60px 0;
}

.partners__container {
  max-width: 1270px;
  margin: auto;
}

.partners__item--container {
  margin: 100px 0 0 0;
}

.partners__item--container {
  display: flex;
  justify-content: space-between;
  width: 1270px;
  padding: 0 15px 0 15px;
}

.partners__item {
  position: relative;
  display: flex;
  align-items: center;
}

.partners__item::after {
  content: "";
  position: absolute;
  height: 58px;
  width: 1px;
  right: -40px;
  background-color: #bdbdbd;
}

.partners__item:last-child::after {
  display: none;
}

.blog {
  padding: 70px 0 70px 0;
}

.blog__container {
  max-width: 1270px;
  margin: auto;
}

.blog__item--container {
  margin: 30px 15px 0 15px;
  display: flex;
  justify-content: space-between;
  width: 1270px;
}

.blog__item {
  display: flex;
}

.blog__item--left {
  margin: 0 35px 0 0;
}

.blog__item--title {
  font-weight: 600;
  font-size: 20px;
  line-height: 133.1%;
  max-width: 270px;
  color: #333333;
  margin: 0 0 15px 0;
}

.blog__item--link {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration-line: underline;
  color: #ee7325;
}

.blog__item--link:hover {
  font-weight: 600;
}

.arrow-button-right {
  display: flex;
  border-radius: 100%;
  border: 2px solid #502659;
  width: 40px;
  height: 40px;
  padding: 10px 15px 10px 10px;
  justify-content: center;
  align-items: center;
}

.arrow-button-right:hover,
.arrow-button-left:hover {
  border: 2px solid #ee7325;
}

.arrow-button-right:hover .arrow-right,
.arrow-button-left:hover .arrow-left {
  border: solid #ee7325;
  border-width: 0 2px 2px 0;
}

.arrow-right {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow-button-left {
  display: flex;
  border-radius: 100%;
  border: 2px solid #502659;
  width: 40px;
  height: 40px;
  padding: 10px 10px 10px 15px;
  justify-content: center;
  align-items: center;
}

.arrow-left {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 6px;
  transform: rotate(135deg);
}

.blog__container--top {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 0;
  align-items: center;
}

.footer {
  background: #f0f3fa;
  padding: 25px 0 25px 0;
}

.footer__container {
  max-width: 1270px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 15px;
}

.footer__copyright {
  margin: 30px 0 0 0;
  max-width: 300px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #4f4f4f;
}

.footer__copyright span {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #ee7325;
}

.footer__copyright p {
  margin: 0 0 15px 0;
}

.footer__menu {
  margin: 20px 0 0 0;
}

.footer__menu--link {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #4f4f4f;
  margin: 0 40px 0 0;
}

.footer__menu--link:hover {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ee7325;
}

.footer__menu--link:last-child {
  margin: 0;
}

.footer__menu--row {
  margin: 0 0 20px 0;
}

.footer-icon-link {
  margin: 0 0 22px 0;
}

.footer__button {
  width: 100%;
}

.scroll {
  overflow: hidden;
}

.hamburger-menu {
  display: none;
}

.menu-close-button {
  display: none;
}

@media (max-width: 1170px) {
  .header__navigation--button-place {
    display: none;
  }
  .header__navigation--menu--link:last-child {
    margin: 0;
  }
}

@media (max-width: 1090px) {
  .main-slider__left {
    position: absolute;
    z-index: 20;
    padding: 30px 15px 0 15px;
  }
  .main-slider__right img {
    width: 100%;
    position: relative;
  }
  .main-slider__right {
    width: 100%;
  }
  .main-slider__right::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    z-index: 10;
    opacity: 0.7;
  }
  .slider-prev-button,
  .slider-next-button {
    z-index: 20;
  }
}

@media (max-width: 920px) {
  .header__navigation--logo {
    display: flex;
  }
  .hamburger-menu {
    display: block;
    cursor: pointer;
  }
  .logo-img {
    margin: 0 0 0 15px;
  }
  .header__navigation--menu {
    visibility: hidden;
  }
  .header__navigation--menu.active {
    visibility: visible;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 100;
    padding: 15px;
  }
  .menu-close-button {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    background-color: #ee7325;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }
  .header__navigation--menu--link {
    margin: 0 0 15px 0;
  }
}

@media (max-width: 780px) {
  .header__top-bar--item:nth-child(3) {
    display: none;
  }
  .footer__container {
    flex-direction: column;
  }
}

@media (max-width: 630px) {
  .main-slider__title {
    font-size: 32px;
  }
  .main-slider__description {
    font-size: 19px;
    line-height: 122.1%;
    margin: 20px 0 40px 0;
  }
}

@media (max-width: 580px) {
  .header__top-bar--item:nth-child(2) .header__top-bar--item--title {
    display: none;
  }

  .header__top-bar--item:nth-child(4) .header__top-bar--item--title {
    display: none;
  }
}

/* animation for slider */
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* animation for slider */
